<form [formGroup]="passwordResetForm">
    <mat-card>

    
        <mat-card-title>Password Reset Email</mat-card-title>
        <mat-card-content>
            <mat-form-field class="email">
                <input matInput placeholder="email" formControlName="email" >
                <mat-error *ngIf="passwordResetForm.controls['email'].hasError('required')">
                email <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <re-captcha formControlName="recaptchaReactive"></re-captcha>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">Enviar Reset Email</button>
        </mat-card-actions>
    </mat-card>
</form>
