<mat-toolbar>
  <button mat-button color="primary" (click)="onCreate()" *ngIf="isAdmin" >Crear</button>
  <mat-button-toggle-group multiple name="refreshgrp" aria-label="refresh group">
    <mat-button-toggle value="refresh" (click)="onRefresh()"><mat-icon>refresh</mat-icon></mat-button-toggle>
  </mat-button-toggle-group> 

</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"> {{ row.id }}  </td>
    </ng-container>
    -->
    <ng-container matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>materia</th>
      <td mat-cell *matCellDef="let row">{{row.materia}}</td>
    </ng-container>

    <ng-container matColumnDef="estudiante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>estudiante</th>
      <td mat-cell *matCellDef="let row">{{row.estudiante}}</td>
    </ng-container>

    <ng-container matColumnDef="maestro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>maestro</th>
      <td mat-cell *matCellDef="let row">{{row.maestro}}</td>
    </ng-container>   

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>tipo</th>
      <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
    </ng-container> 

    <ng-container matColumnDef="parametro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>parametro</th>
      <td mat-cell *matCellDef="let row">{{row.parametro}}</td>
    </ng-container>     

    <ng-container matColumnDef="fechaApplicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Applicacion</th>
      <td mat-cell *matCellDef="let row">{{row.fechaApplicacion}}</td>
    </ng-container>
    
    <ng-container matColumnDef="completado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>completado</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="onEdit(row.id)" *ngIf="row.completado != 1 && (isEvaluador() || isAdmin() )">Edit</button> 
        <span *ngIf="row.completado == 1">{{ row.calificacion }}</span>
      </td>
      
    </ng-container> 

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"> <!--{{ row.id }}  -->
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isAdmin()">
          <mat-icon>more_vert</mat-icon>
        </button>                                    
        <mat-menu #menu="matMenu" >
          <button mat-menu-item color="primary" (click)="onRemove(row)" [disabled]="submitting">
            <mat-icon>delete</mat-icon>
            <span>borrar</span>
          </button>
          <button mat-menu-item color="primary" (click)="onEdit(row.id)" [disabled]="submitting">
            <mat-icon>edit</mat-icon>
            <span>Corregir</span>
          </button>             
        </mat-menu>         
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
