<mat-toolbar>

  <button *ngIf="isAdmin()" mat-button color="primary" (click)="onCreate()" >Crear</button>
  
  <button mat-button value="refresh" (click)="applicationFilterChange()"><mat-icon>refresh</mat-icon></button>
  

  <mat-form-field *ngIf="isAdmin()" class="filter_element"  appearance="fill" > 
    <mat-label>fecha</mat-label>
    <mat-select [(value)]="applicationDate" (selectionChange)="applicationFilterChange()">
      <mat-option *ngFor="let a of applicationDates" [value]="a" >
        {{a}} 
      </mat-option>
    </mat-select>
  </mat-form-field> 

  <mat-slide-toggle *ngIf="isAdmin()" class="filter_element"  [(ngModel)]="hideCompleted" (change)="applicationFilterChange()" aria-label="examenes abiertos solamente">Abiertos</mat-slide-toggle>
  <mat-slide-toggle *ngIf="isAdmin()" class="filter_element"  [(ngModel)]="periodicRefresh" (change)="periodicRefreshChange()" aria-label="refresh group">Refresh</mat-slide-toggle>

</mat-toolbar>
 
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>materia</th>
      <td mat-cell *matCellDef="let row">{{row.materia}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>titulo</th>
      <td mat-cell *matCellDef="let row">{{row.title}}</td>
    </ng-container>    

    <ng-container matColumnDef="estudiante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>estudiante</th>
      <td mat-cell *matCellDef="let row">{{row.student_name}}</td>
    </ng-container>

    <ng-container matColumnDef="maestro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>maestro</th>
      <td mat-cell *matCellDef="let row">{{row.maestro}}</td>
    </ng-container>   

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>tipo</th>
      <td mat-cell *matCellDef="let row">{{row.tipo}}</td>
    </ng-container> 

    <ng-container matColumnDef="parametro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>parametro</th>
      <td mat-cell *matCellDef="let row">{{row.parametro}}</td>
    </ng-container>     

    <ng-container matColumnDef="fechaApplicacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Applicacion</th>
      <td mat-cell *matCellDef="let row">{{row.fechaApplicacion}}</td>
    </ng-container>
    
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>completed</th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="onEdit(row.examGrade_id, row.parameterGrade_id)" *ngIf="row.completed != 1 && (isEvaluador() || isAdmin() )">Edit</button> 
        <span *ngIf="row.completed == 1">{{ row.calificacion }}</span>
      </td>
    </ng-container> 

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row"> 
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isAdmin()">
          <mat-icon>more_vert</mat-icon>
        </button>                                    
        <mat-menu #menu="matMenu" >
          <button mat-menu-item color="primary" (click)="onRemove(row)" [disabled]="submitting">
            <mat-icon>delete</mat-icon>
            <span>borrar</span>
          </button>
          <button mat-menu-item color="primary" (click)="onEdit(row.examGrade_id, row.parameterGrade_id)" [disabled]="submitting">
            <mat-icon>edit</mat-icon>
            <span>Corregir</span>
          </button>             
          <button *ngIf="row.certificate_url != null" mat-menu-item color="primary" (click)="onCertificate(row.certificate_url)" [disabled]="submitting">
            <mat-icon>beenhere</mat-icon>
            <a target="_blank" href="{{row.certificate_url}}">cerficado</a>
          </button>             

        </mat-menu>         
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>

</div>

