#sudo vi /lib/systemd/system/videos_compress.service
#sudo systemctl enable videos_compress.service
#sudo systemctl start videos_compress.service
#sudo systemctl status videos_compress.service 
[Unit]
Description=compress files from /samba/claudia/to_compress

[Service]
ExecStart=/etc/videos_compress/videos_compress.sh

[Install]
WantedBy=multi-user.target