<mat-toolbar >
    <mat-toolbar-row>
        <span>Alumna: {{ getAlumnaNombre() }}</span>
        <span class="example-spacer"></span>
        <span>Calificacion Final:{{ getCalificacion().toFixed(2) }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="20em">
    <mat-grid-tile>
        <div>
            <canvas id="myChart" ></canvas>   
        </div>
    </mat-grid-tile>       
</mat-grid-list>

<mat-toolbar >
    <mat-toolbar-row>
        <span>Elementos Faltantes</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngFor="let exercise of getExercises(); let row=index" >
    <mat-card-title>
        {{ exercise.label }}
    </mat-card-title>
    <mat-grid-list *ngFor="let observation of getRowColElements(exercise.exercise_id); let row=index" cols="4"  rowHeight="2em" [style.background]="getRowColor(row)">
        <mat-grid-tile >    
        {{ observation.row_label }}
        </mat-grid-tile> 
        <mat-grid-tile >    
        {{ observation.col_label }}
        </mat-grid-tile> 
        <mat-grid-tile >    
        {{ observation.observation_label }}
        </mat-grid-tile>         
    </mat-grid-list>

    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-subtitle>observaciones:</mat-card-subtitle>

        <mat-grid-list *ngFor="let rowColText of getRowColText(exercise.exercise_id); let row=index" cols="4"  rowHeight="2em" [style.background]="getRowColor(row)">
            <mat-grid-tile >    
            {{ rowColText.row_label }}
            </mat-grid-tile> 
            <mat-grid-tile >    
            {{ rowColText.col_label }}
            </mat-grid-tile> 
            <mat-grid-tile >    
            {{ rowColText.observation_label }}
            </mat-grid-tile>         
        </mat-grid-list>
    
    </mat-card>
    
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-subtitle>Exercicios cancelados:</mat-card-subtitle>

        <mat-grid-list *ngFor="let rowColText of getRowSelected(exercise.exercise_id); let row=index" cols="1"  rowHeight="2em" [style.background]="getRowColor(row)">
            <mat-grid-tile >    
            {{ rowColText.row_label }}
            </mat-grid-tile> 
        </mat-grid-list>   
    </mat-card>    
 </mat-card>
        
