<h1>Materias</h1>

<mat-card *ngFor="let m of materias" class="materia-card">
    <mat-card-title-group>
        <mat-card-title class="enroll-card">
          <button mat-button (click)="onEditMateria(m)">{{ m.materia_name }}</button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            <button mat-menu-item (click)="onRemoveMateria(m.id, m.materia_name)" [disabled]="submitting">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>            
          </mat-menu>  
        </mat-card-title>
        <mat-card-subtitle>
          {{ m.description }}
        </mat-card-subtitle>
        <img mat-card-sm-image src="https://storage.googleapis.com/certificates-thoth-qa/certificates_logos/{{ m.iconCertificate }}">
                                    
    </mat-card-title-group>
    <mat-card-content>
  
      <video *ngIf="m.videoUrl" class="video-js vjs-default-skin" controls preload="auto"
      width="640" height="264" vjs-video vjs-setup="options">
        <source src="{{ m.videoUrl }}" type='video/mp4' />
      </video>  
      
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

  <button mat-button (click)="onCreateMateria()">Nueva Materia</button>
