<h1>Habilidades <button *ngIf="isAdmin" mat-button mat-raised-button (click)="onCreateMateria()"><mat-icon>add</mat-icon></button></h1>

  <div class="searchForm">
    <div class="spacer"></div>    
    <mat-form-field class="search-box">
    <input matInput placeholder="Search" name= "search" [(ngModel)]= "search">
    <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
    <div class="spacer"></div>

  </div>
  <div class="searchForm">
    <div class="spacer"></div>
    <mat-button-toggle-group  [(ngModel)]="enrolledOnly" aria-label="Show only enrolled">
      <mat-button-toggle class="enrolledoption" [value]="true">Mis materias</mat-button-toggle>
      <mat-button-toggle class="enrolledoption" [value]="false">Todas</mat-button-toggle> 
    </mat-button-toggle-group>    
  </div>


<div *ngIf="submitting==false;  else spinnerBlock">
  <mat-card class="materia-card" *ngFor="let mi of materiasList" class="materia-card" [ngClass]="isSearched(mi)">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="enroll-card"><span (click)="onEditMateria(mi.materia)">{{ mi.materia.materia_name }}</span>
          <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >

            <button mat-menu-item (click)="onEditMateria(mi.materia)" [disabled]="submitting">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>

            <button mat-menu-item (click)="onRemoveMateria(mi.materia.id, mi.materia.materia_name)" [disabled]="submitting">
              <mat-icon>delete</mat-icon>
              <span>Borrar</span>
            </button>            
            <button mat-menu-item (click)="onDuplicateMateria(mi.materia.id, mi.materia.materia_name)" [disabled]="submitting">
              <mat-icon>library_add</mat-icon>
              <span>Duplicate</span>
            </button>            
          </mat-menu>  
        </mat-card-title>  
        <img mat-card-sm-image *ngIf="mi.materia.materiaIconUrl" (click)="onEditMateria(mi.materia)" src="{{ mi.materia.materiaIconUrl }}"> 
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content (click)="onEditMateria(mi.materia)">
        {{ mi.materia.description }}
        <app-materia-exams-list *ngIf="mi.materiaEnrollment" [materiaid]="mi.materia.id"></app-materia-exams-list>
        <app-materia-laboratory-list *ngIf="mi.materiaEnrollment" [materiaid]="mi.materia.id"></app-materia-laboratory-list>

    </mat-card-content> 
  </mat-card>
</div>
<ng-template #spinnerBlock>
  Cargando información.
  <mat-spinner></mat-spinner>
</ng-template>


  