.materia-card{
    margin-bottom: 8px;
}
.materia-card mat-card-title-group{
    display:flex;
    width:100%;      
}
.materia-card mat-card-title-group img{
    align-self: right;
}

.searchForm{
    display:flex;
    width:100%;
}
.spacer{
    flex:1 1 0;
}
.search-box{
    justify-self: center;
    margin-right: 20px;
}
.enrolledoption{
    justify-self: right;
}

.hidden{
    display:none
}





