.mat-card{
    border:1px;
    border-color:black;
    border-style:solid;
    margin:5px;
}

.searchForm{
    display:flex;
    justify-content: center;
    width:100%;
}
.hidden{
    display:none
}

.materia-image{
    height: 300px;
}