
  
  <mat-horizontal-stepper linear #stepper>
    <mat-step  [editable]="isEditable">
        
        <ng-template matStepLabel>Ejer. 1</ng-template>
        <mat-toolbar class="my-class-name" color="white">
            <mat-toolbar-row>
                <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                <span class="example-spacer"></span>
                <span>Calificacion:{{ (getTotalByExercise('exercise_1') ).toFixed(2) }}</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-divider></mat-divider>

        <mat-label></mat-label>
            <mat-grid-list cols="8" rowHeight="3em">
                <mat-grid-tile
                    *ngFor="let tile of headers_1"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                {{tile.text}}
                </mat-grid-tile>
            </mat-grid-list>
            
            <mat-grid-list *ngFor="let renglon of exam.exercises['exercise_1'].rows; let row=index" cols="8"  rowHeight="2em" [style.background]="getRowColor(row)">
                <mat-grid-tile >
                    <mat-icon aria-hidden="false" aria-label="movimientos_cancelados_1_{{row}}" (click)="onCancelRow('exercise_1', renglon.id)">{{ isCanceledRow('exercise_1', renglon.id) ? "close": "check_box_outline_blank" }}</mat-icon>
                </mat-grid-tile> 
                <mat-grid-tile >
                  {{ renglon.label }} hello
                </mat-grid-tile>

                <mat-grid-tile *ngFor="let columna of exam.exercises['exercise_1'].columns; let col=index"  >
                  <mat-icon  aria-hidden="false" aria-label="movimiento_1_{{row}}_{{col}}" (click)="onChangeReason('exercise_1', renglon.id, columna.id)">{{ isSelected('exercise_1', renglon.id, columna.id) ? "close": "check_box_outline_blank" }}</mat-icon>
                  
                </mat-grid-tile>                 
                <mat-grid-tile >
                 {{ ( getTotalByRow('exercise_1',renglon.id) ).toFixed(2) }}
                </mat-grid-tile>        
                
            </mat-grid-list>   
            
            <mat-divider></mat-divider>
          
            <mat-card>
                <mat-grid-list cols="3" rowHeight="2em">
                    <mat-grid-tile>
                        <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
                    </mat-grid-tile>
                    <mat-grid-tile>

                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Ejer. 2</ng-template>
            <mat-toolbar class="my-class-name" color="primary">
                <mat-toolbar-row>
                    <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                    <span class="example-spacer"></span>
                    <span>Calificacion:{{ (getTotalByExercise('exercise_2') ).toFixed(2) }}</span>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-divider></mat-divider>          

          <mat-grid-list cols="15" rowHeight="5em">
            <mat-grid-tile
                *ngFor="let tile of headers_2"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color">
            {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>   
          <mat-grid-list *ngFor="let renglon of exam.exercises['exercise_2'].rows; let row=index" cols="15"  rowHeight="3em" [style.background]="getRowColor(row)">
            <mat-grid-tile >
                <mat-icon aria-hidden="false" aria-label="movimientos_cancelados_2_{{row}}" (click)="onCancelRow('exercise_2', renglon.id)">{{ isCanceledRow('exercise_2', renglon.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile> 
            <mat-grid-tile colspan=2>
              {{ renglon.label }}
            </mat-grid-tile>
            <mat-grid-tile colspan=2>
                {{ renglon.label2 }}
              </mat-grid-tile>            

            <mat-grid-tile *ngFor="let columna of exam.exercises['exercise_2'].columns; let col=index" > 
              <mat-icon  aria-hidden="false" aria-label="movimiento_2_{{row}}_{{col}}" (click)="onChangeReason('exercise_2', renglon.id, columna.id)">{{ isSelected("exercise_2", renglon.id, columna.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile>                 
            <mat-grid-tile >
             {{ ( getTotalByRow('exercise_2',renglon.id) ).toFixed(2) }}
            </mat-grid-tile>        
            
        </mat-grid-list>                  

        <mat-divider></mat-divider>

        <mat-card>
            <mat-grid-list cols="3" rowHeight="2em">
                <mat-grid-tile>
                    <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>                
                <mat-grid-tile>
                    <button mat-button matStepperPrevious mat-raised-button color="primary">Previo</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Ejer. 3</ng-template>
            <mat-toolbar class="my-class-name" color="primary">
                <mat-toolbar-row>
                    <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                    <span class="example-spacer"></span>
                    <span>Calificacion:{{ (getTotalByExercise('exercise_3') ).toFixed(2) }}</span>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-divider></mat-divider>          

          <mat-grid-list cols="8" rowHeight="3em">
            <mat-grid-tile
                *ngFor="let tile of headers_3"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color">
            {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>   
          <mat-grid-list *ngFor="let renglon of exam.exercises['exercise_3'].rows; let row=index" cols="8"  rowHeight="2em" [style.background]="getRowColor(row)">
            <mat-grid-tile >
                <mat-icon aria-hidden="false" aria-label="movimientos_cancelados_3_{{row}}" (click)="onCancelRow('exercise_3', renglon.id)">{{ isCanceledRow('exercise_3', renglon.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile> 
            <mat-grid-tile colspan=1>
              {{ renglon.label }}
            </mat-grid-tile>          

            <mat-grid-tile *ngFor="let columna of exam.exercises['exercise_3'].columns; let col=index" > 
              <mat-icon  aria-hidden="false" aria-label="movimiento_3_{{row}}_{{col}}" (click)="onChangeReason('exercise_3', renglon.id, columna.id)">{{ isSelected("exercise_3", renglon.id, columna.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile>                 
            <mat-grid-tile >
             {{ ( getTotalByRow('exercise_3',renglon.id) ).toFixed(2) }}
            </mat-grid-tile>        
            
        </mat-grid-list>                  

        <mat-divider></mat-divider>

        <mat-card>
            <mat-grid-list cols="3" rowHeight="2em">
                <mat-grid-tile>
                    <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>                
                <mat-grid-tile>
                    <button mat-button matStepperPrevious mat-raised-button color="primary">Previo</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Ejer. 4</ng-template>
            <mat-toolbar class="my-class-name" color="primary">
                <mat-toolbar-row>
                    <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                    <span class="example-spacer"></span>
                    <span>Calificacion:{{ (getTotalByExercise('exercise_4') ).toFixed(2) }}</span>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-divider></mat-divider>          

          <mat-grid-list cols="12" rowHeight="3em">
            <mat-grid-tile
                *ngFor="let tile of headers_4"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color">
            {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>   
          <mat-grid-list *ngFor="let renglon of exam.exercises['exercise_4'].rows; let row=index" cols="12"  rowHeight="3em" [style.background]="getRowColor(row)">
            <mat-grid-tile >
                <mat-icon aria-hidden="false" aria-label="movimientos_cancelados_4_{{row}}" (click)="onCancelRow('exercise_4', renglon.id)">{{ isCanceledRow('exercise_4', renglon.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile> 
            <mat-grid-tile colspan=1>
              {{ renglon.label }}
            </mat-grid-tile>          

            <mat-grid-tile *ngFor="let columna of exam.exercises['exercise_4'].columns; let col=index" > 
              <mat-icon  aria-hidden="false" aria-label="movimiento_4_{{row}}_{{col}}" (click)="onChangeReason('exercise_4', renglon.id, columna.id)">{{ isSelected("exercise_4", renglon.id, columna.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile>                 
            <mat-grid-tile >
             {{ ( getTotalByRow('exercise_4',renglon.id) ).toFixed(2) }}
            </mat-grid-tile>        
            
        </mat-grid-list>                  

        <mat-divider></mat-divider>

        <mat-card>
            <mat-grid-list cols="3" rowHeight="2em">
                <mat-grid-tile>
                    <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>                
                <mat-grid-tile>
                    <button mat-button matStepperPrevious mat-raised-button color="primary">Previo</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-step>
    <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Ejer. 5</ng-template>
            <mat-toolbar class="my-class-name" color="primary">
                <mat-toolbar-row>
                    <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                    <span class="example-spacer"></span>
                    <span>Calificacion:{{ (getTotalByExercise('exercise_5') ).toFixed(2) }}</span>
                </mat-toolbar-row>
            </mat-toolbar>

            <mat-divider></mat-divider>          

          <mat-grid-list cols="11" rowHeight="4em">
            <mat-grid-tile
                *ngFor="let tile of headers_5"
                [colspan]="tile.cols"
                [rowspan]="tile.rows"
                [style.background]="tile.color">
            {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>   
          <mat-grid-list *ngFor="let renglon of exam.exercises['exercise_5'].rows; let row=index" cols="11"  rowHeight="2em" [style.background]="getRowColor(row)">
            <mat-grid-tile >
                
                    <mat-icon aria-hidden="false" aria-label="movimientos_cancelados_5_{{row}}" (click)="onCancelRow('exercise_5', renglon.id)">{{ isCanceledRow('exercise_5', renglon.id) ? "close": "check_box_outline_blank" }}</mat-icon>
            </mat-grid-tile> 
            <mat-grid-tile colspan=1>
              {{ renglon.label }}
            </mat-grid-tile>          

            <mat-grid-tile *ngFor="let columna of exam.exercises['exercise_5'].columns; let col=index" > 
                <div *ngIf=" !isDisabled('exercise_5', renglon.id, columna.id) ">
                    <mat-icon  aria-hidden="false" aria-label="movimiento_5_{{row}}_{{col}}" (click)="onChangeReason('exercise_5', renglon.id, columna.id)">{{ isSelected("exercise_5", renglon.id, columna.id) ? "close": "check_box_outline_blank" }}</mat-icon>
                </div>

            </mat-grid-tile>                 
            <mat-grid-tile >
             {{ ( getTotalByRow('exercise_5',renglon.id) ).toFixed(2) }}
            </mat-grid-tile>        
            
        </mat-grid-list>                  

        <mat-divider></mat-divider>

        <mat-card>
            <mat-grid-list cols="3" rowHeight="2em">
                <mat-grid-tile>
                    <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
                </mat-grid-tile>                
                <mat-grid-tile>
                    <button mat-button matStepperPrevious mat-raised-button color="primary">Previo</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button matStepperNext mat-raised-button color="primary">Siguiente</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
        <mat-toolbar class="my-class-name" color="primary">
            <mat-toolbar-row>
                <span>Alumna: {{ estudiante["nombre"] }} {{ estudiante["apellidoPaterno"] }}</span>
                <span class="example-spacer"></span>
                <span>Has completado el examen</span>
                
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span> Calificacion (0-10): {{ (getTotal() * 10 / 40).toFixed(2) }} </span>
            </mat-toolbar-row>

        </mat-toolbar>

        <mat-card>
            <mat-grid-list cols="2" rowHeight="2em">
                <mat-grid-tile>Ejer 1:</mat-grid-tile>
                <mat-grid-tile>
                    <span> {{ getTotalByExercise('exercise_1').toFixed(2) }} </span>
                </mat-grid-tile>  
                <mat-grid-tile>Ejer 2:</mat-grid-tile>              
                <mat-grid-tile>
                    <span>{{ getTotalByExercise('exercise_2').toFixed(2) }} </span>
                </mat-grid-tile>
                <mat-grid-tile>Ejer 3:</mat-grid-tile>
                <mat-grid-tile>
                    <span>{{ getTotalByExercise('exercise_3').toFixed(2) }} </span>
                </mat-grid-tile>
                <mat-grid-tile>Ejer 4:</mat-grid-tile>
                <mat-grid-tile>
                    <span> {{ getTotalByExercise('exercise_4').toFixed(2) }} </span>
                </mat-grid-tile> 
                <mat-grid-tile>Ejer 5:</mat-grid-tile>
                <mat-grid-tile>
                    <span> {{ getTotalByExercise('exercise_5').toFixed(2) }} </span>
                </mat-grid-tile> 
                <mat-grid-tile>Total:</mat-grid-tile> 
                <mat-grid-tile>{{ getTotal().toFixed(2) }}</mat-grid-tile>                              
            </mat-grid-list>
        </mat-card>        

        <mat-card>
          <mat-grid-list cols="3" rowHeight="2em">
              <mat-grid-tile>
                  <button mat-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
              </mat-grid-tile>                
              <mat-grid-tile>
                  <button mat-button matStepperPrevious mat-raised-button color="primary">Previo</button>
              </mat-grid-tile>
              <mat-grid-tile>
                  <button mat-button (click)="onSubmit()" mat-raised-button color="primary">Enviar</button>
              </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
    </mat-step>

  </mat-horizontal-stepper>
  
