
<form  [formGroup]="materiasList" >
Listar Materias
<div class="mat-elevation-z8">
  <mat-toolbar>
    <button mat-icon-button  [disabled]="submitting" (click)="createType()">
      <mat-icon>library_add</mat-icon>
    </button>
    <button mat-icon-button  [disabled]="submitting" (click)="onCreateMateria()">
      <mat-icon>library_add</mat-icon>
    </button>    
  </mat-toolbar>  
  <div *ngIf="submitting == false; else elseBlock"></div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [hidden]="submitting" >
   
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass"> 
          <button mat-button (click)="editar(row.id)">{{row.materia_name}}</button>
        </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="docente_requerido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Docente</th>
      <td mat-cell *matCellDef="let row" [formGroup]="row.formGroup">
        
      <mat-checkbox formControlName="docente_requerido" (change)="onChange(row)"></mat-checkbox>
  
      </td>
    </ng-container>
    <ng-container matColumnDef="ejecutante_requerido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ejecutante</th>
      <td mat-cell *matCellDef="let row" [formGroup]="row.formGroup">
        <mat-checkbox formControlName="docente_requerido" (change)="onChange(row)"></mat-checkbox>
      </td>    
    </ng-container> 
           
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th> 
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="borrar(row.id)" [disabled]="submitting">
            <mat-icon>delete</mat-icon>
            <span>Borrar</span>
          </button>      
          <button mat-menu-item (click)="onCopy(row)" [disabled]="submitting">
            <mat-icon>content_copy</mat-icon>
            <span>Duplicar</span>
          </button>          

        </mat-menu>
        
      </td>
    </ng-container>    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
<ng-template #elseBlock>
  Cargando Typos.
  <mat-spinner></mat-spinner>
</ng-template>

</form> 