.examname{
    width:100%;
    overflow: hidden;
    text-align: left;
    margin-bottom: 0.5em;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.average{
    background-color: lightgrey;
    width:100%;
    text-align: center;
}