p {
  font-family: Lato;
}
div.canvas_container {
  position:relative;
  width:660px;
  height:500px;  
  border: 2px solid rgba(0,255,0,0.12);
}

canvas.blackboard {
  position: absolute;
  top: 0px;
  left: 0px;
  width:640px;
  height:480px;
  margin:0;
  border: 1px solid rgba(255,0,0,0.12);
}
