<form [formGroup]="loginForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="!isRegister">Login</mat-card-title>
      <mat-card-title *ngIf="isRegister">Registrar usuario nuevo</mat-card-title>
     
    </mat-card-header>
    
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" formControlName="username" >
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              login is <strong>required</strong>
            </mat-error>            
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              login is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <re-captcha formControlName="recaptchaReactive"></re-captcha>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onLoginWithEmail()" *ngIf="!isRegister" [disabled]="loginForm.invalid">Login</button>
      <button mat-raised-button color="warn" (click)="register()" *ngIf="isRegister" [disabled]="loginForm.invalid">Registar</button>
    </mat-card-actions>

  </mat-card>
</form>
