.example-spacer {
    flex: 1 1 auto;
  }

.mat-card{ 
  margin:5px; 

}

.parameter{
  margin:1em;
  border:1px solid blue;
}

mat-toolbar mat-form-field{
  width:100%;
  margin:5px;
}

.textcontainer{
  width:100%;
}

.mat-dialog-actions {
  border:1px solid black;
  justify-content: flex-end;
}

.mat-card-actions{
  background:white;
}