<div *ngIf="submitting == false; else elseBlock">
<form [formGroup]="e" >
    <span>Editar tipo de examen</span>
    <mat-form-field appearance="legacy">
        <mat-label>Tipo de Examen</mat-label>
        <input matInput formControlName="label" width="80%" (change)="onChangeExam(e)">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Tipo de examen descripcion</mat-label>
        <textarea matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" formControlName="description" (change)="onChangeExam(e)"></textarea>
    </mat-form-field> 

    
    <div *ngFor="let p of getFormGroupArray(e,'parameters'); let i=index">
        
        <div class="parameter" [formGroup]="p">
           
            <mat-toolbar color="primary">
                
                <mat-form-field >
                    <input matInput  resizeToFitContent  formControlName="label" (change)="onChangeParameter(e,p)">
                </mat-form-field> 


                <!--<div class="textcontainer" (keydown.Space)="$event.stopPropagation()"> -->
                <mat-form-field appearance="legacy">
                    <mat-label>Parametro descripcion</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" formControlName="description" (change)="onChangeParameter(e,p)"></textarea>
                </mat-form-field> 
                <!--</div> -->
                <div>
                <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="scoreType" (change)="onChangeParameter(e,p)">
                    <mat-button-toggle value="status" aria-label="calificar usando estrellas">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="starts" aria-label="calificar usando statuses">
                        <mat-icon >stars</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>  
                <div>
                <mat-menu #menu="matMenu" >
                    <button mat-menu-item  (click)="delParameter(e, p)" [disabled]="submitting">
                        <mat-icon>delete</mat-icon>
                        <span>borrar</span>
                    </button> 
                    <button mat-menu-item  (click)="upParameter(e, p)" [disabled]="submitting">
                        <mat-icon>arrow_circle_up</mat-icon>
                        <span>mover arriba</span>
                    </button> 
                    <button mat-menu-item color="primary" (click)="downParameter(e, p)" [disabled]="submitting">
                        <mat-icon>arrow_circle_down</mat-icon>
                        <span>mover abajo</span>
                    </button> 
                    <button mat-menu-item color="primary" (click)="dupParameter(e, p)" [disabled]="submitting">
                        <mat-icon>content_copy</mat-icon>
                        <span>duplicar</span>
                    </button> 
                </mat-menu> 
                </div>                                                       
                
            </mat-toolbar>
         
            <div>
                <mat-accordion  multi="false"> 
                    <mat-expansion-panel  [formGroup]="c" *ngFor="let c of getFormGroupArray(p,'criterias'); let j=index"  >
                        <mat-expansion-panel-header > 
                            <mat-panel-title>
                                <div class="example-handle">
                                    <mat-icon>open_with</mat-icon>
                                </div>                                     
                                {{ c.controls.label.value }}
                           
                            </mat-panel-title> 
                        </mat-expansion-panel-header>
                     
                        <mat-card>
                            <mat-toolbar>
                            <mat-form-field appearance="legacy">
                                <input matInput formControlName="label" (change)="onChangeCriteria(e,p,c)">
                            </mat-form-field> 
                            <div class="textcontainer" (keydown.Space)="$event.stopPropagation()">
                                <mat-form-field appearance="legacy">
                                    <mat-label>criterio descripcion</mat-label>
                                    <textarea matInput
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="5" formControlName="description" (change)="onChangeCriteria(e,p,c)"></textarea>
                                </mat-form-field> 
                            </div>
                            <mat-checkbox formControlName="initiallySelected" (change)="onChangeCriteria(e,p,c)"></mat-checkbox>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>                                    
                            <mat-menu #menu="matMenu" >
                                <button mat-menu-item color="accent" (click)="delCriteria(e, p, c)" [disabled]="submitting">
                                    <mat-icon>delete</mat-icon>
                                    <span>borrar</span>
                                </button> 
                                <button mat-menu-item  (click)="upCriteria(e, p, c)" [disabled]="submitting">
                                    <mat-icon>arrow_circle_up</mat-icon>
                                    <span>mover arriba</span>
                                </button> 
                                <button mat-menu-item color="primary" (click)="downCriteria(e, p, c)" [disabled]="submitting">
                                    <mat-icon>arrow_circle_down</mat-icon>
                                    <span>mover abajo</span>
                                </button> 
                                <button mat-menu-item color="accent" (click)="dupCriteria(e, p, c)" [disabled]="submitting">
                                    <mat-icon>content_copy</mat-icon>
                                    <span>duplicar</span>
                                </button>                                 
                            </mat-menu> 
                            </mat-toolbar>
                    
                            <div *ngFor="let q of getFormGroupArray(c,'aspects'); let k=index">
                                <mat-grid-list cols="8" rowHeight="7em" [formGroup]="q">
                                    
                                    <mat-grid-tile colspan="3" >
                                        <mat-icon>star_rate</mat-icon>
                                        <mat-form-field appearance="legacy">
                                            <mat-label>aspecto</mat-label>
                                            <input matInput placeholder="Escriba lo que debe ocurrir" formControlName="label" (change)="onChangeAspect(e,p,c,q)">
                                        </mat-form-field>  
                                    </mat-grid-tile> 
                                    
                                    <mat-grid-tile colspan="4" >
                                        <div class="textcontainer" (keydown.Space)="$event.stopPropagation()">
                                            <mat-form-field appearance="legacy">
                                                <mat-label>descripcion</mat-label>
                                                <textarea matInput
                                                cdkTextareaAutosize
                                                #autosize="cdkTextareaAutosize"
                                                cdkAutosizeMinRows="1"
                                                cdkAutosizeMaxRows="5" formControlName="description" (change)="onChangeAspect(e,p,c,q)"></textarea>
                                            </mat-form-field> 
                                        </div>
                                    </mat-grid-tile>  

                                    <mat-grid-tile colspan="1" >
                                        <button mat-icon-button [matMenuTriggerFor]="aspectoMenu" aria-label="Menu Aspects">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>                                    
                                        <mat-menu #aspectoMenu="matMenu" >
                                            <button mat-menu-item  (click)="delAspect(e, p, c, q)" [disabled]="submitting">
                                                <mat-icon>delete</mat-icon>
                                                <span>borrar</span>
                                            </button> 
                                            <button mat-menu-item  (click)="upAspect(e, p, c, q)" [disabled]="submitting">
                                                <mat-icon>arrow_circle_up</mat-icon>
                                                <span>mover arriba</span>
                                            </button> 
                                            <button mat-menu-item color="primary" (click)="downAspect(e, p, c, q)" [disabled]="submitting">
                                                <mat-icon>arrow_circle_down</mat-icon>
                                                <span>mover abajo</span>
                                            </button>                                             
                                        </mat-menu> 
                                    </mat-grid-tile> 
                                                                                                          
                                </mat-grid-list>

                            </div> 
                            
                            <mat-toolbar>
                                <span class="example-spacer"></span> 
                                <button mat-raised-button (click)="newAspect(e, p, c)" [disabled]="submitting">Add Aspect</button> 
                            </mat-toolbar>
                           
                        </mat-card>
                        
                    </mat-expansion-panel>
                    
                </mat-accordion>
            </div>
             
            <div>
                <mat-toolbar>
                    <span class="example-spacer"></span> 
                    <a mat-raised-button  color="accent" (click)="newCriteria(e, p)" [disabled]="submitting" >Nuevo Criterio</a> 
                </mat-toolbar>
            </div>
           
        </div> 
        
        
    </div>
    <div>
        <button mat-raised-button color="primary" [disabled]="submitting" (click)="newParameter(e)">Nuevo Parametro</button>
    </div>
    <mat-toolbar >
        <mat-icon>home</mat-icon>
    </mat-toolbar>
 
    


 <!--  {{ getformValue() }}  --> 
  
  </form>
</div>
  <ng-template #elseBlock>
    Cargando Typo.
    <mat-spinner></mat-spinner>
  </ng-template>