<a [routerLink]="['../../']"><mat-icon>arrow_back</mat-icon></a>
<span>Editar Tipo Examen</span>
@if( materia() ){
    <h1>Materia:{{materia().materia_name}}</h1>
    @if( exam() ){
       <form [formGroup]="e">
        <p>
        <mat-form-field appearance="fill">
            <mat-label>Nombre del Examen</mat-label>
            <input matInput formControlName="label" width="80%" (change)="fs.onPropertyChange(this.collection, this.exam_id, $event)">
        </mat-form-field>
        </p> 
        <div class="textcontainer">
        <mat-form-field >
            <mat-label>Descripcion del examen</mat-label>
            <textarea class="description"  matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" formControlName="description" (change)="fs.onPropertyChange(this.collection, this.exam_id, $event)"></textarea>
        </mat-form-field> 
        </div> 
        <mat-checkbox formControlName="isRequired" name="isRequired" (change)="fs.onCheckboxChange(this.collection, this.exam_id, $event)">Es requerido</mat-checkbox>            
       </form> 
      
    }
    <app-parameter-list [materia_id]="materia_id" [exam_id]="exam_id"></app-parameter-list>
    <mat-toolbar >
        <mat-icon>home</mat-icon>
    </mat-toolbar>
}
@else{
    Cargando Typo.
    <mat-spinner></mat-spinner>
}