<h3>Examenes<button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button></h3>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="onCreateExam()" [disabled]="submitting">
      <mat-icon>library_add</mat-icon>
      <span>Nuevo Examen</span>
    </button>            
  </mat-menu> 
<div *ngIf="submitting==false;  else spinnerBlock">
    <mat-list  *ngFor="let ei of exams">
        <mat-list-item>
            {{ ei.exam.label }}
            <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>more_vert</mat-icon>
            </button>
              <mat-menu #menu="matMenu" >
                <button mat-menu-item (click)="onEditExam(ei.exam.id)" [disabled]="submitting">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>    
                <button  mat-menu-item (click)="onDeleteExam(ei.exam)" [disabled]="submitting">
                  <mat-icon>delete</mat-icon>
                  <span>Borrar</span>
                </button>      
                <button  mat-menu-item (click)="onDuplicateExam(ei.exam.id)" [disabled]="submitting">
                  <mat-icon>content_copy</mat-icon>
                  <span>Duplicar</span>
                </button>       
              </mat-menu>
              <button *ngIf="ei.examGrade && ei.examGrade.isReleased" (click)="onExamGradeReport(ei.examGrade.id)" mat-button >Abrir</button>
        </mat-list-item>
    </mat-list >
</div>
<ng-template #spinnerBlock>
    Cargando información.
    <mat-spinner></mat-spinner>
</ng-template>