<h3>Examenes<button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button></h3>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="onCreateExam()" [disabled]="submitting">
      <mat-icon>library_add</mat-icon>
      <span>Nuevo Examen</span>
    </button>            
  </mat-menu> 
<div *ngIf="submitting==false;  else spinnerBlock">
    <mat-list  *ngFor="let ei of exams">
        <mat-list-item>
            <span class="exam-label">{{ ei.exam.label }}</span>
            <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>more_vert</mat-icon>
            </button>
              <mat-menu #menu="matMenu" >
                <button mat-menu-item (click)="onEditExam(ei.exam.id)" [disabled]="submitting">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>    
                <button  mat-menu-item (click)="onDeleteExam(ei.exam)" [disabled]="submitting">
                  <mat-icon>delete</mat-icon>
                  <span>Borrar</span>
                </button>      
                <button  mat-menu-item (click)="onDuplicateExam(ei.exam)" [disabled]="submitting">
                  <mat-icon>content_copy</mat-icon>
                  <span>Duplicar</span>
                </button>       
              </mat-menu>
              <div *ngIf="isEnrolled ;  else noEnrolledBlock">
                <div *ngIf="ei.examGrade != null">
                  <span *ngIf="ei.examGrade.isReleased == false">En Espera de liberación</span>
                  <button *ngIf="ei.examGrade.isReleased == true" (click)="onExamGradeReport(ei.exam,ei.examGrade)" mat-button>Abrir Reporte</button>
                </div>  
              </div> 
              <ng-template #noEnrolledBlock>
                No Enrolado
              </ng-template>
               
        </mat-list-item>
    </mat-list >
</div>
<ng-template #spinnerBlock>
    Cargando información.
    <mat-spinner></mat-spinner>
</ng-template>