/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bar{
    display:flex;
}
.spacer{
    flex:1 1 0;
}
.id{
    font-size: x-small; 
    margin-right: 10px;
    color:light-gray;
}  
.debug{
    font-size: x-small; 
    margin-right: 10px;
    color:white;
    color:midnightblue
}  
.example{
  background: linear-gradient(to left bottom, white 70%, blue );
}

  .limegreen{
    background: linear-gradient(to left bottom, white 70%, limegreen   );
  }
  .yellow{
    background: linear-gradient(to left bottom, white 70%, yellow   );
  }
  .aqua{
    background: linear-gradient(to left bottom, white 70%, aqua   );
  }
  .blue{
    background: linear-gradient(to left bottom, white 70%, blue   );
  }  
  .magenta{
    background: linear-gradient(to left bottom, white 70%, magenta   );
  }
  .red{
    background: linear-gradient(to left bottom, white 70%, red   );
  } 
  .sandybrown{
    background: linear-gradient(to left bottom, white 70%, sandybrown   );
  }     
  .black{
    background: linear-gradient(to left bottom, white 70%, black 30%  );
  }     
 
.grecaptcha-badge { 
    visibility: hidden !important;
}  