/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bar{
    display:flex;
}
.spacer{
    flex:1 1 0;
}
.id{
    font-size: x-small; 
    margin-right: 10px;
    color:light-gray;
}  
.debug{
    font-size: x-small; 
    margin-right: 10px;
    color:white;
}  
.example{
  background: linear-gradient(to left bottom, white 70%, blue );
}

  .aquamarine{
    background: linear-gradient(90deg, red 0 1%, white 5% 100%);
  }
  .darkblue{
    background: linear-gradient(90deg, darkblue 0 1%, white 5% 100%);
  }
  .brown{
    background: linear-gradient(90deg, brown 0 1%, white 5% 100%);
  }
  .darkgreen{
    background: linear-gradient(90deg, darkgreen 0 1%, white 5% 100%);
  }
  .lightsalmon{
    background: linear-gradient(90deg, lightsalmon 0 1%, white 5% 100%);
  }
  .darkmagenta{
    background: linear-gradient(90deg, darkmagenta 0 1%, white 5% 100%);
  }
 