/*
mat-form-field{
    display:block;
    width:90%;
}

mat-card{
    max-width: 80%;
    margin:auto;
}

.bar mat-form-field {
    width:90%;
}
    */
mat-accordion{
    width:100%;
}    

.shortlist{
    width:80%;
    margin:auto;
    padding:5px;
}

