
mat-form-field{
    display:block;
    width:90%;
}

/* this allows the picture to resize correctly */
.picture{
    object-fit: cover; 
    width: 60%; 
}
.experiences{
    object-fit: cover; 
    width: 60%; 
}
.remove-property-button{
    margin-left:50px
}
.description{
    width:80%;
    margin-left: auto;
    margin-right:auto;
}
.certificate-grid{
    width:80%;
}
