<a routerLink="/materia-list"><mat-icon>arrow_back</mat-icon></a>
Materia
@if( materia() ){
<form [formGroup]="m" >
<mat-card >
  
    @if( isAdmin() ){
    
    <mat-card-title>
      <span class="bar">
        <span class="spacer"></span>
        <img mat-card-sm-image *ngIf="materia().materiaIconUrl" mat-card-sm-image src="{{materia().materiaIconUrl}}">
      </span>
      <span class="bar">
          <mat-form-field class="field-name">
            <mat-label>Nombre</mat-label>
            <textarea  matInput type="text"  formControlName="materia_name" (change)="onPropertyChange($event)" ></textarea >
          </mat-form-field>  
          
          <button mat-icon-button [matMenuTriggerFor]="menu" >
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            
            <button  mat-menu-item (click)="onRemoveMateria(materia().id, materia().materia_name)" [disabled]="submitting()">
              <mat-icon>delete</mat-icon>
              <span>Borrar</span>
            </button>     
            <button  mat-menu-item (click)="onDuplicateMateria(materia().id, materia().materia_name)" [disabled]="submitting()">
              <mat-icon>content_copy</mat-icon>
              <span>Duplicar</span>
            </button>      
          </mat-menu>  
             
      </span>   
        
    </mat-card-title>
    }
    @else{
      <mat-card-title-group>
      <mat-card-title >{{ m.controls.materia_name.value }}</mat-card-title>
      <img mat-card-sm-image *ngIf="materia().materiaIconUrl" mat-card-sm-image src="{{materia().materiaIconUrl}}">
      </mat-card-title-group>    
    }

  <mat-card-content>
    @if( isAdmin() ){
    <app-file-loader label="Icono" property="materiaIcon" [filename]="materia().materiaIconPath"  [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                        
    
    <mat-form-field class="description" appearance="outline">
      <mat-label>description</mat-label>
      <textarea class="description" matInput maxlength="2000" rows="3" formControlName="description" (change)="onPropertyChange($event)"></textarea>
    </mat-form-field> 

    
    
    <mat-form-field >
        <mat-label><span [class]="materia().color1">&nbsp;&nbsp;&nbsp;</span>Color1</mat-label>
        <mat-select formControlName="color1"  name="color1" (selectionChange)="onSelectChange($event, m)">
          <mat-option *ngFor="let c of colors" [value]="c">
            <span [class]="c">&nbsp;{{c}}</span>
          </mat-option>
        </mat-select>
    </mat-form-field>    
    
    <span class="bar">
      <mat-form-field >
          <mat-label>Certificado Maestro</mat-label>
          <mat-select formControlName="certificateTypeId"  name="certificateTypeId" (selectionChange)="onSelectChange($event, m)">
            <mat-option *ngFor="let tc of certificateTypes" [value]="tc.id">
              {{tc.certificateTypeName}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <button mat-icon-button [matMenuTriggerFor]="matMenuCertificates" >
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #matMenuCertificates="matMenu" >
      <button mat-raised-button color="primary" (click)="onCertificateTypes()">Certificados Maestros</button>                
        
        <button mat-menu-item (click)="onCertificateTypes()" [disabled]="submitting()">
          <mat-icon>local_library</mat-icon>
          <span>Certificados Maestros</span>
        </button>     

      </mat-menu>      
    </span>    
    
    }
    @else{
      <div class="description" [innerHTML]="descriptionHtml()"></div>       
    }  
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>  

<mat-accordion multi="true">
  @if(isAdmin() || (materia().pictureUrl || materia().pictureDescription) ) {
  <mat-expansion-panel [expanded]="!materiaEnrollment()">
    <mat-expansion-panel-header>
      <mat-panel-title> Objectivos </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-card>
          @if( materia().pictureUrl ){
          <img mat-card-image  src="{{materia().pictureUrl}}"> 
          }
          <mat-card-content>
            @if( isAdmin() ){
            <app-file-loader label="Imagen Principal" property="picture" [filename]="materia().picturePath" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                  
            <mat-form-field class="description" appearance="outline">
              <mat-label>description de la imagen</mat-label>
              <textarea matInput class="description" formControlName="pictureDescription" (change)="onBlur('pictureDescription', $event)"  placeholder="Descripción de la imagen"></textarea>
            </mat-form-field> 
            }
            @else{
              <div class="description" [innerHTML]="pictureDescriptionHtml()"></div>        
            }
          </mat-card-content>
        </mat-card>
  </mat-expansion-panel>
  }

 @if(isAdmin() || (materia().videoDescription || materia().videoUrl)) { 
  <mat-expansion-panel [expanded]="!materiaEnrollment()">
    <mat-expansion-panel-header>
      <mat-panel-title> Experiencias </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-card>
          <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Experiencias</mat-card-title>
          </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            @if( materia().videoUrl ){
              <video class="video-js vjs-default-skin" controls preload="auto"
              vjs-video vjs-setup="options">
                <source src="{{ materia().videoUrl }}" type='video/mp4' />
              </video>
            }

            @if(isAdmin()){
            
            <app-file-loader label="Carga un video" property="video" [filename]="materia().videoPath" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                           

            <mat-form-field class="description del video" appearance="outline">
            <mat-label>description del video</mat-label>
            <textarea matInput class="description" formControlName="videoDescription" (change)="onBlur('videoDescription', $event)"  placeholder="Descripción del video"></textarea>
            </mat-form-field>
            }
            @else{
              <div class="description" [innerHTML]="videoDescriptionHtml()"></div>  
            }
          </mat-card-content>
        </mat-card>
  </mat-expansion-panel>
}

@if( isAdmin() ){
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Referencias </mat-panel-title>
    </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <reference-list [materia_id]="materia().id"></reference-list>
          </mat-card-content>
        </mat-card>
  </mat-expansion-panel>
}

  @if( isAdmin() || 
    (
    materiaEnrollment() && !(hasExamGrades()==false && materiaEnrollment().certificateUrl)
    ) 
  ){
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Calificaciones</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
        <mat-card appearance="outlined">
          <mat-card-content>
            @if( isAdmin() ){ 
              <app-materia-exams-list [materiaid]="materia_id"></app-materia-exams-list>
            }
            @else{
              <div class="shortlist">
              <app-materia-exams-shortlist  [materia]="materia()" [materiaEnrollment]="materiaEnrollment()"></app-materia-exams-shortlist>
              </div>
            }               
          </mat-card-content>
        </mat-card>  
  </mat-expansion-panel>
  }

  @if( materiaEnrollment() && materiaEnrollment().certificateUrl ){  
  <mat-expansion-panel [expanded]="hasExamGrades()==false">
    <mat-expansion-panel-header>
      <mat-panel-title> Certificado</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>    
        <mat-card>
          <img mat-card-image src="{{materiaEnrollment().certificateUrl}}"> 
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>

            <button mat-icon-button (click)="download(materiaEnrollment().certificateUrl)"><mat-icon>download</mat-icon></button>
            <button mat-icon-button (click)="onCopyUrlToClipboard(materiaEnrollment().certificateUrl)"><mat-icon>link</mat-icon></button>
          </mat-card-actions>    
        </mat-card>  
  </mat-expansion-panel>
  }
</mat-accordion>
</form> 
}
@else{
  Cargando información.
  <mat-spinner></mat-spinner>
}





 