/*
.materia-icon{
    width:200px;
    height:200px;
    padding:5px;
}
*/
/*
.video-container{
    width:100%;
    margin:20px;
    display: flex;
    justify-content: center;     
}
.materia-video{
    width:80%;
}
*/

mat-form-field{
    display:block;
}

/*
.description{
    width:80%;
    margin:10px;
}
*/
/* this allows the picture to resize correctly */
.picture{
    object-fit: cover; 
    width: 60%; 
}
.experiences{
    object-fit: cover; 
    width: 60%; 
}
/*
.career-video{
    width:300px ;
    height: 300px ;
    display:block;
}
*/
.remove-property-button{
    margin-left:50px
}
/*
.examen-container{
    margin:10px;
}

.field-name{
    width:20em;
}
*/
.description{
    width:50%;
    margin-left: auto;
    margin-right:auto;
}
.certificate-grid{
    width:80%;
}
