<h1 mat-dialog-title>Nueva Materia</h1>
<form [formGroup]="m" >
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nueva Materia</mat-label>
    <input  matInput type="text"  formControlName="materia_name" (change)="onPropertyChange($event)">
  </mat-form-field>     
</mat-dialog-content>
<p>
  <mat-form-field appearance="legacy">
      <mat-label>Certificado Maestro</mat-label>
      <mat-select formControlName="typeCertificate"  name="typeCertificate" (selectionChange)="onChangeExamProperty($event, m)">
        <mat-option *ngFor="let tc of typeCertificates" [value]="tc.value">
          {{tc.label}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="legacy">
      <mat-label>Icono de certificado</mat-label>
      <mat-select formControlName="iconCertificate"  name="iconCertificate" (selectionChange)="onChangeExamProperty($event, m)">
        <mat-option *ngFor="let ic of iconCertificates" [value]="ic.value">
          {{ic.label}}
        </mat-option>
      </mat-select>
  </mat-form-field>        
</p>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
   
  <button [disabled]="m.invalid" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
</form>





 