<h1>Certificados Maestros</h1>
<div *ngFor="let ct of certificateTypes">
    <button mat-button (click)="onEdit(ct.id)">{{ ct.certificateTypeName }}</button>
    <button mat-icon-button [matMenuTriggerFor]="menuLevel" >
        <mat-icon>more_vert</mat-icon>
    </button>                                    
    <mat-menu #menuLevel="matMenu" >
        <button mat-menu-item color="primary" (click)="onRemove(ct.id, ct.certificateTypeName)" [disabled]="submitting">
            <mat-icon>remove</mat-icon>
            <span>Borrar</span>
        </button> 
    </mat-menu>      
</div>
<button mat-raised-button color="primary" (click)="onCreate()">Create</button>
