<h3>Laboratories</h3>

<mat-slide-toggle [(ngModel)]="isReleased" (change)="onReleased()">Released: {{isReleased}}</mat-slide-toggle>
<app-date-selector [value]="selectedDay" (change)="onDateSelect($event)"></app-date-selector>
<app-user-selector (userselected)="onUserSelected($event)"></app-user-selector>

<mat-table mat-table [dataSource]="laboratoryGrades">
        <ng-container matColumnDef="laboratory_name">
                <mat-header-cell *matHeaderCellDef>Leccion interactiva</mat-header-cell>
                <mat-cell *matCellDef="let laboratoryGradeItem"><span (click)='onOpenLaboratoryGrade(laboratoryGradeItem.laboratoryGrade)'>{{laboratoryGradeItem.laboratory.label}}</span></mat-cell>
        </ng-container>
        <ng-container matColumnDef="student.displayName">
                <mat-header-cell *matHeaderCellDef>Estudiante</mat-header-cell>
                <mat-cell *matCellDef="let laboratoryGradeItem"> {{laboratoryGradeItem.user.displayName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Estatus</mat-header-cell>
                <mat-cell *matCellDef="let laboratoryGradeItem"> {{getStatusText(laboratoryGradeItem.laboratoryGrade.status)}} </mat-cell>
        </ng-container>        

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="onOpenLaboratoryGrade(row.id)"></mat-row> 
</mat-table>
<span *ngIf="laboratoryGrades.length == 0">no hay laboratorios para esta materia</span>

