<h1>Oferta educativa<button *ngIf="isAdmin" mat-button mat-raised-button (click)="onCreateCareer()"><mat-icon>add</mat-icon></button></h1>
@if(careers()){ 

<mat-grid-list [cols]="numCols()" rowHeight="1:1">
  @for( c of careers(); track c.career.id; let i=$index){  
  <div class="item">   
    <mat-grid-tile>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title class="enroll-card">
            <span (click)="onCareerDetails(c.career.id)">{{ c.career.career_name }}</span>
        </mat-card-title>   
        <img mat-card-sm-image *ngIf="iconUrl" src="https://storage.googleapis.com/certificates-thoth-qa/certificates_logos/{{organization_id}}/{{ c.iconUrl }}">      

      </mat-card-title-group>
      <img mat-card-image  *ngIf="c.career.pictureUrl" (click)="onCareerDetails(c.career.id)" src="{{ c.career.pictureUrl }}"> 
    </mat-card> 
    </mat-grid-tile>
  </div>
  }
  </mat-grid-list>  
}
@else{
  Cargando información.
  <mat-spinner></mat-spinner>
}