<h1>Lista de Carreras</h1>
@if(careers()){

<mat-grid-list [cols]="numCols()" rowHeight="1:1">
  @for( c of careers(); track c.id; let i=$index){  
  <div class="item">   
    <mat-grid-tile>
    <mat-card class="careercard">
      <mat-card-title-group>
          <mat-card-title class="enroll-card"><span (click)="onCareerDetails(c.id)">{{ c.career_name }}</span><button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="career commands">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" >
              <button mat-menu-item (click)="onEdit(c.id)">
                <mat-icon>edit</mat-icon>
                <span>editar</span>
              </button>              
              <button mat-menu-item (click)="onDelete(c)">
                <mat-icon>delete</mat-icon>
                <span>Borrar</span>
              </button>      
            </mat-menu>     
        </mat-card-title>   
        <img mat-card-sm-image *ngIf="iconUrl" src="https://storage.googleapis.com/certificates-thoth-qa/certificates_logos/{{organization_id}}/{{ c.iconUrl }}">      

      </mat-card-title-group>
      <img mat-card-image  *ngIf="c.pictureUrl" (click)="onCareerDetails(c.id)" src="{{ c.pictureUrl }}"> 
      <mat-card-content>
        {{ c.description }}  
      </mat-card-content>
    </mat-card> 
    </mat-grid-tile>
  </div>
  }
  </mat-grid-list>  
}
@else{
  Cargando información.
  <mat-spinner></mat-spinner>
}