Editar Examen
<form [formGroup]="examGradeFG" novalidate (ngSubmit)="onSubmit()">

  <mat-card >
    <mat-card-content > 

      <mat-form-field appearance="fill" >
        <mat-label>selecciona estudiante</mat-label>
        <app-user-selector formControlName="student_uid" (userselected)="examStudentChange($event)" required></app-user-selector>
       
      </mat-form-field>

      <mat-form-field appearance="fill" > 
        <mat-label>Habilidad</mat-label>
        <mat-select formControlName="materia_id" (selectionChange)="materiaChange($event)">
          <mat-option *ngFor="let m of materias" [value]="m.id" >
            {{m.materia_name}} 
          </mat-option>
        </mat-select>
      </mat-form-field>         
      <mat-form-field appearance="fill" > 
        <mat-label>Tipo de Examen</mat-label>
        <mat-select formControlName="exam_id" (selectionChange)="examChange($event)">
          <mat-option *ngFor="let t of exams" [value]="t.id" >
            {{t.label}} 
          </mat-option>
        </mat-select>
      </mat-form-field>             
 

      <mat-form-field color="accent" appearance="fill">
        <mat-label>Seleccione una fecha de applicacion del examen</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="applicationDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="" value="" formControlName="title" required>
      </mat-form-field>       

      <mat-form-field class="example-full-width">
        <mat-label>Expresion</mat-label>
        <input matInput placeholder="" value="" formControlName="expression">
      </mat-form-field> 
      <mat-form-field class="example-full-width">
        <mat-label>Nivel</mat-label>
        <input matInput placeholder="" value="" formControlName="level">
      </mat-form-field>       
      
      <div formArrayName="parameterGradesFA">
        <div *ngFor="let p of parameterGradesFA.controls; let i=index">
          <div [formGroup]="p">
              <!--id: {{ p.controls.id.value }} -->
                {{ p.controls.label.value }}
                <mat-form-field appearance="fill" >
                  <mat-label>selecciona evaluator</mat-label>
                  <mat-select formControlName="evaluator_uid">
                    <mat-option *ngFor="let m of getExamEvaluators()" [value]="m.uid">
                      {{getUserDisplayName(m)}}
                    </mat-option>                 
                  </mat-select>
                </mat-form-field>
              
              
                
                <mat-checkbox formControlName="isSelected" (change)="onParameterChange(p)"></mat-checkbox>
                
                <div *ngFor="let c of getFormGroupArray(p,'criteriaGradeFA'); let ci=index" >
                  <div  [formGroup]="c">
                  
                    {{ c.controls.label.value }}
                    <mat-checkbox formControlName="isSelected"></mat-checkbox>
                  </div>
                </div>              
          </div>   
        </div>
      </div>
     
    </mat-card-content>  
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="submitting || !examGradeFG.valid">Enviar</button>
    </mat-card-actions> 
  </mat-card>  
    
</form>
