<form [formGroup]="exam_impro_ap_FormGroup" novalidate (ngSubmit)="onSubmit()">

  <mat-card class="shipping-card" >
    <mat-card-header>
      <mat-card-title>Crear Examen Improvisacion id:{{ exam_impro_ap_FormGroup.controls.id.value }} </mat-card-title>
    </mat-card-header> 
    <mat-card-content > 
      <mat-grid-list cols="3" rowHeight="4em">
        <mat-grid-tile>
          <mat-form-field appearance="fill" > 
            <mat-label>Tipo de examen</mat-label>
            <mat-select formControlName="exam_impro_type_id" (selectionChange)="examTypeChange($event)">
              <mat-option *ngFor="let t of getExamTypes()" [value]="t.id" >
                {{t.label}} 
              </mat-option>
            </mat-select>
          </mat-form-field>             
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" >
            <mat-label>selecciona estudiante</mat-label>
            <mat-select formControlName="estudiante_id">
              <mat-option *ngFor="let e of getExamEstudiantes()" [value]="e.id">
                {{e.estudianteName}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Seleccione una fecha de applicacion del examen</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaApplicacion">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Materia</mat-label>
            <input matInput placeholder="change it" value="" formControlName="materia">
          </mat-form-field>
        </mat-grid-tile>          
      </mat-grid-list>

      <div *ngFor="let p of get_exam_impro_ap_parameter; let i=index">
        <div [formGroup]="p">
              id: {{ p.controls.id.value }}
              {{ getExamImproLabel( p.controls.exam_impro_parameter_id.value ) }}
              <mat-form-field appearance="fill" >
                <mat-label>selecciona maestro</mat-label>
                <mat-select formControlName="maestro_id">
                  <mat-option *ngFor="let m of getExamMaestros()" [value]="m.id">
                    {{m.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <div *ngFor="let criteria of getCriteriaFormGroups(p)" >
                <div  [formGroup]="criteria">
                  id:{{  criteria.controls.id.value }}
                  {{ getCriteria( criteria.controls.exam_impro_criteria_id.value ) }}
                  <mat-checkbox formControlName="selected"></mat-checkbox>
                </div>
              </div>  
        </div>        
      </div>
     
    </mat-card-content>  
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="submitting">Enviar</button>
    </mat-card-actions> 
  </mat-card>  
    
  {{ getformValue() }}  

</form>
