<form [formGroup]="examGrade" novalidate (ngSubmit)="onSubmit()">

  <mat-card >
    <mat-card-content > 
      <mat-form-field appearance="fill" > 
        <mat-label>Tipo de examen</mat-label>
        <mat-select formControlName="exam_id" (selectionChange)="examChange($event)">
          <mat-option *ngFor="let t of getExamTypes()" [value]="t.id" >
            {{t.label}} 
          </mat-option>
        </mat-select>
      </mat-form-field>             
      <mat-form-field appearance="fill" >
        <mat-label>selecciona estudiante</mat-label>
        <mat-select formControlName="student_uid" (selectionChange)="examStudentChange($event)">
          <mat-option *ngFor="let e of getExamStudents()" [value]="e.uid">
            {{getUserDisplayName(e)}}
          </mat-option>
        </mat-select>
      </mat-form-field> 

      <mat-form-field color="accent" appearance="fill">
        <mat-label>Seleccione una fecha de applicacion del examen</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="applicationDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Materia</mat-label>
        <input matInput placeholder="" value="" formControlName="course">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="" value="" formControlName="title">
      </mat-form-field>       

      <mat-form-field class="example-full-width">
        <mat-label>Expresion</mat-label>
        <input matInput placeholder="" value="" formControlName="expression">
      </mat-form-field>          

      <div *ngFor="let p of getFormGroupArray(examGrade,'parameterGrades'); let i=index">
        <div [formGroup]="p">
             <!--id: {{ p.controls.id.value }} -->
              {{ p.controls.label.value }}
              <mat-form-field appearance="fill" >
                <mat-label>selecciona evaluator</mat-label>
                <mat-select formControlName="evaluator_uid" (selectionChange)="examEvaluatorChange(p, $event)">
                  <mat-option *ngFor="let m of getExamEvaluators()" [value]="m.uid">
                    {{getUserDisplayName(m)}}
                  </mat-option>                 
                </mat-select>
              </mat-form-field>
            
             
              
              <mat-checkbox formControlName="isSelected" (change)="onParameterChange(p)"></mat-checkbox>
              
              <div *ngFor="let c of getFormGroupArray(p,'criteriaGrades'); let ci=index" >
                <div  [formGroup]="c">
                  id:{{  c.controls.id.value }}
                  {{ c.controls.label.value }}
                  <mat-checkbox formControlName="isSelected"></mat-checkbox>
                </div>
              </div>              
        </div>   
      </div>
     
    </mat-card-content>  
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="submitting">Enviar</button>
    </mat-card-actions> 
  </mat-card>  
    
</form>
