#report_container{
    width: 80%;
    height: 80%;
    display:block;
}

.comment-sounds{
    margin:5px;
}

.criteria{
    width:80%;
    margin-top: 5px;
}
.aspect{
    border:solid;
    border-width:1px;
    max-width:80%
}
.aspect_score{
    padding-left:50px;
    text-align:right;  
}
.propertygrid{
    width:80%;
    max-width: 20em;        
    margin:auto;
}
.property{
    width:100%;
    padding: 1px;
    background-color: lightgray;
    text-align:right; 
}
.propertyValue{
    width:100%;
    padding: 1px;
    text-align:left; 
}