#report_container{
    width: 80%;
    height: 80%;
    display:block;
}

.criteria{
    width:80%;
}
.aspect{
    border:solid;
    border-width:1px;
    max-width:80%
}
.aspect_score{
    padding-left:50px;
    text-align:right;  
}
