Lista de grades
<div *ngIf="exams; else elseBlock">
    <div *ngIf="exams.length == 0" >
        sus calificaciones No han sido liberadas todavia.
    </div>    
    
    <mat-card *ngFor="let e of sortingService.sortBy(exams,'title'); let i=index">
        <mat-toolbar>
            <span> {{ e.title }}</span>
        </mat-toolbar>      
        <p>Curso: {{ e.course }}</p>
        <p>Fecha: {{ e.applicationDate }}</p>
        <p>Estudiante: {{ e.student_name }}</p>
        <p>Expression: {{ e.expression }}</p>
        <p>Calificacion: <b>{{ e.score }}</b> </p>
        <mat-card *ngFor="let p of sortingService.sortBy(e.parameterGrades,'idx')">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
               {{p.label}} calificacion:{{p.score}}
            </mat-panel-title>
            <mat-panel-description> 
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let c of sortingService.sortBy(p.criteriaGrades,'idx')">
                {{ c.label }}
                <mat-card>
                    <div *ngFor="let a of sortingService.sortBy(c.aspectGrades,'idx')">
                        {{ a.label }} : {{ scoreFormat(a.score) }}
                        <div class="comment" *ngIf="a.missingElements != null">
                            {{ a.missingElements }}
                        </div>
                    </div> 
                </mat-card>
            </div> 
            <p>comentario: {{p.evaluator_comment}}</p> 
            </mat-expansion-panel>        
            
        </mat-card>
        <mat-card>
            <app-examgrades-report [exam]="e" ></app-examgrades-report>
        </mat-card>

    </mat-card>
</div>
<ng-template #elseBlock>
    Cargando Calificaciones liberadas.
    <mat-spinner></mat-spinner>
</ng-template>