<p>Leccion interactiva</p>
<form *ngIf="l" [formGroup]="l" >

    <div *ngIf="!isAdmin">
        <h1>{{ l.controls.label.value }}</h1>
    </div>
    <mat-form-field *ngIf="isAdmin" class="name">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="" formControlName="label" (change)="onPropertyChange($event)">
    </mat-form-field>  
    
    <div *ngIf="l.controls.videoUrl.value">
        <h3>Video de instrucciones</h3>
        
        <yt-player [videoId]="getVideoId(l.controls.videoUrl.value)"></yt-player>

    </div> 
    <div *ngIf="isAdmin">
        <mat-form-field class="name">
            <mat-label>video en youtube</mat-label>
            <input matInput placeholder="" formControlName="videoUrl" (change)="onPropertyChange($event)">
        </mat-form-field>  
    </div>    
    <div class="sound-field-group" *ngIf="isAdmin">
        <span>suba el audio para la practica</span>
        <app-file-loader label="archivo de audio" property="sound" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>        
    </div> 
    <div *ngIf="l.controls.soundUrl.value">
        <h3>Audio para la practica</h3>
        <audio  controls>
            <source [src]="l.controls.soundUrl.value" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio> 
    </div>
</form>
            
