<button mat-button (click)="onCreateRevision()">Add</button>
<mat-slide-toggle  *ngIf="isAdmin" [(ngModel)]="filter_all" (change)="onShowAll($event)">Mostrar todos</mat-slide-toggle>
<form *ngIf="isAdmin" [formGroup]="filterFG">
  <mat-form-field *ngIf="isAdmin" appearance="fill">
    <mat-label>Estudiante</mat-label>
    <app-user-selector formControlName="student_uid" (userselected)="onUserSelected($event)" required></app-user-selector>
  </mat-form-field>
</form>

<table *ngIf="submitting==false;  else spinnerBlock" mat-table [dataSource]="dataSource" class="main-table">


  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let row"> {{formatDate(row.revision.date)}} </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Titulo</th>
    <td mat-cell *matCellDef="let row"> {{row.revision.label}} </td>
  </ng-container>    

  <!-- Name Column -->
  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef>Estudiante</th>
    <td mat-cell *matCellDef="let row"> {{row.student.displayName ? row.student.displayName : row.student.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let row">{{getStatusName(row.revision.status)}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>
</table>
<ng-template #spinnerBlock>
  Processando.
  <mat-spinner></mat-spinner>
</ng-template>  