div{
    margin-left:4em;
}

mat-card .group{
    margin:5px;
    border-color:green;
    border-style: solid;
    border-width:1px;
}

mat-card .materia{
    margin:5px;
    border-color:pink;
    border-style: solid;
    border-width:1px;    
}

.remove-property-button{
    margin-left:50px
}
.video-container{
    width:100%;
    margin:20px;
    display: flex;
    justify-content: center;     
}
.attach-file{
    display:block;
}
mat-form-field {
    width:80%;
}

.name {
    min-width:20em;
}
.example-spacer {
    flex: 1 1 auto;
}

app-level-list{
    margin-left: 4em;
}

.description{
    margin:1em;
    width:80%;
}