div{
    margin-left:50px;
}

mat-card .group{
    margin:5px;
    border-color:green;
    border-style: solid;
    border-width:1px;
}

mat-card .materia{
    margin:5px;
    border-color:pink;
    border-style: solid;
    border-width:1px;    
}

.career-image{
    height: 300px ;
    display:block;
}

.career-video{
    width:300px ;
    height: 300px ;
    display:block;
}

.remove-property-button{
    margin-left:50px
}