Editar Carrera 
<form [formGroup]="c" >
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="" formControlName="career_name" (change)="formService.onPropertyChange('careers', c.controls.id.value, $event)">
    </mat-form-field>      
    
    <div>
        <h3>Imagen</h3>
        <img *ngIf="c.controls.pictureUrl.value" class="career-image" src="{{c.controls.pictureUrl.value}}"> 
        <div id="pictureUrlStatus"></div>

        <mat-form-field>
            <input matInput disabled> 
            <button mat-icon-button matSuffix (click)="pictureUrl.click()">
                <mat-icon>attach_file</mat-icon> 
            </button>
            <button class="remove-property-button" mat-icon-button matSuffix  (click)="removePropertyValue('pictureUrl')">
            <mat-icon>delete</mat-icon>
            </button>      
            <input hidden (change)="selectFile($event)" name="pictureUrl" #pictureUrl type="file" >
        </mat-form-field>
    </div>

    <div >
        <h3>Video</h3>
        <div *ngIf="c.controls.videoUrl.value!=null">
            <app-vjs-player source="{{c.controls.videoUrl.value}}"></app-vjs-player>  
        </div> 
        
        <div id="videoUrlStatus"></div>

        <mat-form-field>
            <input matInput disabled> 
            <button mat-icon-button matSuffix (click)="videoUrlControl.click()">
                <mat-icon>attach_file</mat-icon> 
            </button>
            <button class="remove-property-button" mat-icon-button matSuffix  (click)="removePropertyValue('videoUrl')">
            <mat-icon>delete</mat-icon>
            </button>      
            <input hidden (change)="selectVideo($event)" name="videoUrl" #videoUrlControl type="file" >
        </mat-form-field>
    </div>


    <h1>Ciclos <button (click)="onCreateLevel(c.controls.id.value)"><mat-icon>add</mat-icon></button> </h1>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [formGroup]="l" *ngFor='let l of getFormArrayControls(c,"levels"); let k=index'>
            <mat-expansion-panel-header>
                {{ l.controls.level_name.value }}
            </mat-expansion-panel-header> 
            <mat-expansion-panel-content>
                <mat-card>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nivel</mat-label>
                        <input matInput placeholder="nombre del nivel" formControlName="level_name" (change)="formService.onPropertyChange('careers/' + c.controls.id.value + '/levels', l.controls.id.value, $event)">
                    </mat-form-field> 
                    <button mat-icon-button [matMenuTriggerFor]="menuLevel" >
                        <mat-icon>more_vert</mat-icon>
                    </button>                                    
                    <mat-menu #menuLevel="matMenu" >
                        <button mat-menu-item color="primary" (click)="onRemoveLevel(c.controls.id.value, l.controls.id.value)" [disabled]="submitting">
                            <mat-icon>remove</mat-icon>
                            <span>Borrar</span>
                        </button> 
                    </mat-menu>                         
                        

                    <h2>Groups <button (click)="onCreateGroup(c.controls.id.value, l.controls.id.value)"><mat-icon>add</mat-icon></button></h2>
                    <mat-card  class="group" [formGroup]="g" *ngFor="let g of getFormArrayControls(l,'groups')">
                        <mat-form-field class="example-full-width">
                            <mat-label>Grupo</mat-label>
                            <input matInput placeholder="nombre del grupo" formControlName="group_name" (change)="formService.onPropertyChange('careers/' + c.controls.id.value + '/levels/' + l.controls.id.value + '/groups', g.controls.id.value, $event)">
                        </mat-form-field>             
                        <mat-form-field appearance="fill" >
                            <mat-label>selecciona tipo de evaluacion</mat-label>
                            <mat-select formControlName="group_grade_type_id" (selectionChange)="formService.onSelectChange('careers/' + c.controls.id.value + '/levels/' + l.controls.id.value + '/groups', g.controls.id.value,$event)">
                              <mat-option *ngFor="let ggt of getGroupGradeTypes()" [value]="ggt.id">
                                {{ ggt.description }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>            
                
                        <button mat-icon-button [matMenuTriggerFor]="menuGroup" >
                            <mat-icon>more_vert</mat-icon>
                        </button>                                    
                        <mat-menu #menuGroup="matMenu" >
                            <button mat-menu-item color="primary" (click)="onRemoveGroup(c.controls.id.value, l.controls.id.value, g.controls.id.value)" [disabled]="submitting">
                                <mat-icon>remove</mat-icon>
                                <span>Borrar</span>
                            </button> 
                        </mat-menu>             
                        <h3>Materias <button (click)="onAddMateria(c.controls.id.value, l.controls.id.value, g.controls.id.value)"><mat-icon>add</mat-icon></button></h3>
                        <mat-card class="materia" *ngFor="let m of getFormArrayControls(g,'materias')">
                            {{m.controls.materia_name.value }}
                            <button mat-icon-button [matMenuTriggerFor]="menu" >
                                <mat-icon>more_vert</mat-icon>
                            </button>                                    
                            <mat-menu #menu="matMenu" >
                                <button mat-menu-item color="primary" (click)="onRemoveMateria(c.controls.id.value, l.controls.id.value, g.controls.id.value, m.controls.id.value)" [disabled]="submitting">
                                    <mat-icon>remove</mat-icon>
                                    <span>Borrar</span>
                                </button> 
                            </mat-menu>         
                    
                        </mat-card>                        
                    </mat-card>
                </mat-card>
            </mat-expansion-panel-content>
        </mat-expansion-panel>
    </mat-accordion>    
</form>
