Carrera 
@if(career()){
    <div  [formGroup]="c" >
        <mat-card >
            <mat-card-title-group>
                <mat-card-title *ngIf="!isAdmin">{{ career().career_name }}</mat-card-title>
                    <mat-card-title *ngIf="isAdmin">
                    <mat-form-field class="name">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="" formControlName="career_name" (change)="onPropertyChange($event)">
                    </mat-form-field>      
                </mat-card-title>
                <img mat-card-sm-image src="{{career().iconUrl}}">
            </mat-card-title-group>
            <mat-card-content>
                
        
                @if( isAdmin ){ 
                    <app-file-loader *ngIf="isAdmin" label="Icono" property="icon" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>
                    <mat-form-field appearance="outline">
                        <mat-label>descripcion</mat-label>
                        <input matInput placeholder="descripción corta" formControlName="description" (change)="onPropertyChange($event)">
                    </mat-form-field>         
                    <div>
                        <mat-slide-toggle *ngIf="isAdmin" name="isPublished" formControlName="isPublished" (change)="formService.onSlideToggleChange(collection, id, $event, c.controls.isPublished )">Publicar</mat-slide-toggle>                
                    </div>  
                }
                @else{  
                    <div class="description" [innerHTML]="description()"></div>              
                }    

            </mat-card-content>
        </mat-card>  
        <mat-card>
            <mat-card-title-group>
               <mat-card-title>Objetivos</mat-card-title>
            </mat-card-title-group>
            <img mat-card-image src="{{career().pictureUrl}}">
            <mat-card-content>
                @if( isAdmin ){                   
                    <app-file-loader label="Imagen" property="picture" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                
                    <mat-form-field appearance="outline">
                    <mat-label>description de la imagen</mat-label>
                    <textarea  matInput maxlength="2000" rows="3" formControlName="pictureDescription" (change)="onPropertyChange($event)"></textarea>
                    </mat-form-field> 
                }
                @else{
                    <div class="description" [innerHTML]="pictureDescription()"></div>
                }             
            </mat-card-content>
        </mat-card> 
        @if( isAdmin || career().picture2Url || picture2Description()){
        <mat-card>
            <mat-card-title-group>
               <mat-card-title>Mapa Curricular</mat-card-title>
            </mat-card-title-group>
            <img mat-card-image src="{{career().picture2Url}}">
            <mat-card-content>
                @if( isAdmin ){ 
                    <app-file-loader label="Imagen" property="picture2" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                      
                    <mat-form-field appearance="outline">    
                    <mat-label>description mapa curricular</mat-label>
                    <textarea  matInput maxlength="2000" rows="3" formControlName="picture2Description" (change)="onPropertyChange($event)"></textarea>
                    </mat-form-field>
                } 
                @else{ 
                    <div class="description" [innerHTML]="picture2Description()"></div>
                }                           
            </mat-card-content>
        </mat-card> 
        }          
        <mat-card *ngIf="isAdmin || (career().videoDescription || career()['videoUrl'])">
            <mat-card-title-group>
            <mat-card-title>Experiencias</mat-card-title>      
            </mat-card-title-group>
            <mat-card-content >
                <video *ngIf="career() && career().videoUrl">
                    <source src="{{ career().videoUrl }}" type='video/mp4' />
                </video>               
                @if( isAdmin ){      
                    <app-file-loader *ngIf="isAdmin && career()" label="Video" property="video" [basepath]="getBasePath()" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                    
                    <span *ngIf="!isAdmin">{{career().videoDescription}}</span>
                    <mat-form-field appearance="outline">
                        <mat-label>description del video</mat-label>
                        <textarea  matInput maxlength="2000" rows="3" formControlName="videoDescription" (change)="onPropertyChange($event)"></textarea>
                    </mat-form-field> 
                }
                @else{
                    <div class="description" [innerHTML]="videoDescription()"></div>
                }        
            </mat-card-content> 
        </mat-card>
    </div>
        <!--
        <app-career()-user *ngIf="!isAdmin && hasEnrollments" [useruid]="userUid" [career()]="career()"></app-career()-user> 
        -->
        
        <!--
        <div *ngIf="isAdmin || !hasEnrollments">
            <h1>Programa<button *ngIf="isAdmin && submitting==false" mat-button color="primary" (click)="onEnrollmentsUpdate()">Actualizar avance a todos los enrollados</button></h1>
            <div *ngIf="submitting==false;  else spinnerBlock"></div>
            <h2 *ngIf="isAdmin">Ciclos <button  (click)="onCreateLevel(c.controls.id.value )"><mat-icon>add</mat-icon></button> </h2>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel [formGroup]="l" *ngFor='let l of getFormArrayControls(c,"levels"); let k=index'>
                    <mat-expansion-panel-header>
                        {{ l.controls.level_name.value }}
                    </mat-expansion-panel-header> 
                    <mat-expansion-panel-content>
                        <mat-card>
                            <mat-form-field *ngIf="isAdmin" class="example-full-width">
                                <mat-label>Nivel</mat-label>
                                <input matInput placeholder="nombre del nivel" formControlName="level_name" (change)="formService.onPropertyChange('careers/' + c.controls.id.value + '/levels', l.controls.id.value, $event)">
                            </mat-form-field> 
                            <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menuLevel" >
                                <mat-icon>more_vert</mat-icon>
                            </button>                                    
                            <mat-menu #menuLevel="matMenu" >
                                <button mat-menu-item color="primary" (click)="onRemoveLevel(c.controls.id.value, l.controls.id.value )" [disabled]="submitting">
                                    <mat-icon>remove</mat-icon>
                                    <span>Borrar</span>
                                </button> 
                            </mat-menu>                         
                                

                            <h2 *ngIf="isAdmin" >Groups <button  (click)="onCreateGroup(c.controls.id.value, l.controls.id.value)"><mat-icon>add</mat-icon></button></h2>
                            <mat-card  class="group" [formGroup]="g" *ngFor="let g of getFormArrayControls(l,'groups')">
                                <mat-form-field *ngIf="isAdmin" class="example-full-width">
                                    <mat-label>Grupo</mat-label>
                                    <input matInput placeholder="nombre del grupo" formControlName="group_name" (change)="formService.onPropertyChange('careers/' + c.controls.id.value + '/levels/' + l.controls.id.value + '/groups', g.controls.id.value, $event)">
                                </mat-form-field>  
                                <mat-toolbar-row *ngIf="!isAdmin" >
                                    <span>{{ g.controls.group_name.value }}</span>
                                    <span class="example-spacer"></span>
                                    <span>{{ getGroupGradeDescription( g.controls.group_grade_type_id.value ) }} </span>
                                </mat-toolbar-row> 
                                <mat-form-field *ngIf="isAdmin" appearance="fill" >
                                    <mat-label>selecciona tipo de evaluacion</mat-label>
                                    <mat-select formControlName="group_grade_type_id" (selectionChange)="formService.onSelectChange('careers/' + c.controls.id.value + '/levels/' + l.controls.id.value + '/groups', g.controls.id.value,$event)">
                                    <mat-option *ngFor="let ggt of getGroupGradeTypes()" [value]="ggt.id">
                                        {{ ggt.description }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>            
                        
                                <button *ngIf="isAdmin"  mat-icon-button [matMenuTriggerFor]="menuGroup" >
                                    <mat-icon>more_vert</mat-icon>
                                </button>                                    
                                <mat-menu #menuGroup="matMenu" >
                                    <button mat-menu-item color="primary" (click)="onRemoveGroup(c.controls.id.value, l.controls.id.value, g.controls.id.value)" [disabled]="submitting">
                                        <mat-icon>remove</mat-icon>
                                        <span>Borrar</span>
                                    </button> 
                                </mat-menu>             
                                <h3 *ngIf="isAdmin">Habilidades <button  (click)="onAddMateria(c.controls.id.value, l.controls.id.value, g.controls.id.value)"><mat-icon>add</mat-icon></button></h3>
                                <mat-card class="materia" *ngFor="let m of getFormArrayControls(g,'materias')">
                                    {{m.controls.materia_name.value }}
                                    <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menu" >
                                        <mat-icon>more_vert</mat-icon>
                                    </button>                                    
                                    <mat-menu #menu="matMenu" >
                                        <button mat-menu-item color="primary" (click)="onRemoveMateria(c.controls.id.value, l.controls.id.value, g.controls.id.value, m.controls.id.value)" [disabled]="submitting">
                                            <mat-icon>remove</mat-icon>
                                            <span>Borrar</span>
                                        </button> 
                                    </mat-menu>         
                            
                                </mat-card>                        
                            </mat-card>
                        </mat-card>
                    </mat-expansion-panel-content>
                </mat-expansion-panel>
            </mat-accordion>    
        </div> 
        -->        
       <app-level-list [career]="career()"></app-level-list>            

}
@else{
    Processando.
    <mat-spinner></mat-spinner>
}