<h2 *ngIf="isAdmin">Ciclos <button  (click)="onCreateLevel()"><mat-icon>add</mat-icon></button> </h2>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel  *ngFor='let l of levelItems(); let k=index'>
        <mat-expansion-panel-header>
           {{ l.level.level_name }}
        </mat-expansion-panel-header> 
        <mat-expansion-panel-content>
            <form [formGroup]="l.fg">
                <mat-form-field *ngIf="isAdmin" class="example-full-width">
                    <mat-label>Nivel</mat-label>
                    <input matInput placeholder="nombre del nivel" formControlName="level_name" (change)="formService.onPropertyChange('careers/' + c.controls.id.value + '/levels', l.controls.id.value, $event)">
                </mat-form-field> 
                <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menuLevel" >
                    <mat-icon>more_vert</mat-icon>
                </button>                                    
                <mat-menu #menuLevel="matMenu" >
                    <button mat-menu-item color="primary" (click)="onRemoveLevel( l.level.id )" [disabled]="submitting">
                        <mat-icon>remove</mat-icon>
                        <span>Borrar</span>
                    </button> 
                </mat-menu> 
            </form>    
            <app-group-list [career]="career" [level]="l.level" ></app-group-list>                        
        </mat-expansion-panel-content>
    </mat-expansion-panel>
</mat-accordion>    

