h1{
    white-space: nowrap;
}
.materia{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    padding-right: 2em;
    padding-top: 0.5em;
    white-space: nowrap;
} 
.mat-badge-content {
  background-color: gray; /* Custom background color */
  color: white; /* Custom text color */
}