<form [formGroup]="posicionesForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Examen:{{exam_id}}</mat-card-title>
      <mat-card-title>pregunta:</mat-card-title>
      <mat-card-title>Description:</mat-card-title>
      numero de preguntas: {{ db_posiciones.length }}
    </mat-card-header>
    <mat-card-content>

    <div formArrayName="posicionesArray">
      <mat-grid-list *ngFor="let p of db_posiciones; let i=index" [cols]="7"  rowHeight="2em" [formGroup]="posicionesArray.at(i)" >
        <mat-grid-tile>{{p.label}}</mat-grid-tile>
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'movimiento',i,$event.checked)"></mat-checkbox></mat-grid-tile>
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'pies',i,$event.checked)"></mat-checkbox></mat-grid-tile>  
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'shimmi',i,$event.checked)"></mat-checkbox></mat-grid-tile>  
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'palomas',i,$event.checked)"></mat-checkbox></mat-grid-tile>  
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'pordebra',i,$event.checked)"></mat-checkbox></mat-grid-tile>  
        <mat-grid-tile><mat-checkbox (change)="onChange(p.label,'craneo',i,$event.checked)"></mat-checkbox></mat-grid-tile>     
        
      </mat-grid-list>  
    </div>  

    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>
 
</form>

