  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Ejecicio #1    id:{{exam_id}}</mat-card-title>
      <mat-card-title>Con Musica:</mat-card-title>
      <mat-card-title>Alumna Renata:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="9" rowHeight="2em">
        <mat-grid-tile style.background="lightblue"></mat-grid-tile>
        <mat-grid-tile style.background="lightblue">omitido</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">movimiento</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">pies</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">shimmi</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">palomas</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">pordebra</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">craneo</mat-grid-tile>
        <mat-grid-tile style.background="lightblue">VALOR:{{(granTotal).toFixed(2)}}</mat-grid-tile>
      </mat-grid-list>    

      <mat-grid-list *ngFor="let c of movimientos; let i=index" cols="9"  rowHeight="2em" >
        <mat-grid-tile>
          {{c.label}}
        </mat-grid-tile>
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="movimientos_cancelados{{i}}" (click)="onCancelRow(i, $event)">{{ movimientos_cancelados[i] ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile>         
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="movimiento_{{i}}" (click)="onChangeReason(i,'movimiento', $event)">{{ getIsSelectedFor(i,'movimiento') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="pies_{{i}}" (click)="onChangeReason(i,'pies', $event)">{{ getIsSelectedFor(i,'pies') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="shimmi_{{i}}" (click)="onChangeReason(i,'shimmi', $event)">{{ getIsSelectedFor(i,'shimmi') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="palomas_{{i}}" (click)="onChangeReason(i,'palomas', $event)">{{ getIsSelectedFor(i,'palomas') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="pordebra_{{i}}" (click)="onChangeReason(i,'pordbra', $event)">{{ getIsSelectedFor(i,'pordbra') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
          <mat-icon aria-hidden="false" aria-label="craneo_{{i}}" (click)="onChangeReason(i,'craneo', $event)">{{ getIsSelectedFor(i,'craneo') ? "close": "check_box_outline_blank" }}</mat-icon>
        </mat-grid-tile> 
        <mat-grid-tile >
         {{ (totales[i]).toFixed(2) }}
        </mat-grid-tile>        

      </mat-grid-list>


    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>


