<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>

    </mat-toolbar>
    <mat-nav-list>
      <a *ngIf="isAdmin() ||  isReadOnly() || isEvaluator() " mat-list-item routerLink="/ExamenesImprovisacion">Examenes</a>
      <a *ngIf="isAdmin()" mat-list-item routerLink="/user-list">Users</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">    
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="main_link" routerLink="/home">RaxAcademy.com TOTH ver 1.2.2</a>
      <span class="example-spacer"></span>
      <button mat-stroked-button  aria-label="login" (click)="login()" *ngIf="!isLoggedIn()">
        Login
      </button>
      <button mat-stroked-button  aria-label="Registrate" (click)="Register()" *ngIf="!isLoggedIn()">
        Registrate
      </button>

      <span *ngIf="isLoggedIn()">{{ getUserName() }}</span>
      
      <button mat-stroked-button  aria-label="logout" (click)="logout()" *ngIf="isLoggedIn()">
        <mat-icon>logout</mat-icon>
      </button>    
              
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
