<mat-card class="action-card" *ngIf="isLoggedIn() && !isEmailVerified()" >
    <mat-card-content>
      <span class="action-item">Su email no ha sido verificado. si desea enviar un nuevo link presione el boton</span> <button mat-raised-button (click)="emailVerify()" >Enviar email</button>
    </mat-card-content>
</mat-card>


<h1 class="main">Rax Academy</h1>
<h2 class="main">Academia de Danza Oriental y Fusiones</h2>
<h3 class="main">División academica de Raks Sharki Monterrey</h3>

<mat-card>
  <div class="ejecutante">
    <div class="ejecutante-title" (click)="onEjecutanteDetalles()">
      <h1>Ejecutante</h1>
      <button mat-button >Detalles</button>
    </div>
    <img mat-card-image src="/assets/fotos_de_salon apagado.jpg"><img>
  </div>
</mat-card>
<mat-card>
  <div class="diplomados">
    <div class="diplomados-title" (click)="onCoreografoDetalles()">
      <h1>Coreógrafo y Docente</h1>
      <button mat-button >Detalles</button>
    </div>
    <img mat-card-image src="/assets/juniorOriental.jpg"><img>
  </div>
</mat-card>
<mat-card>
  <div class="comunidad">
    <div class="comunidad-title">
      <h1>Comunidad</h1>
    </div>
    <img mat-card-image src="/assets/diplomados.jpg"><img>
  </div>
</mat-card>

<ng-template #elseBlock>
  Cargando información.
  <mat-spinner></mat-spinner>
</ng-template>