


<h1 class="main">Rax Academy</h1>
<h2 class="subtitle">Academia de Danza Oriental y Fusiones</h2>
<h3 class="description">División academica de Raks Sharki Monterrey</h3>


  <div class="career-container" (click)="onEjecutanteDetalles()">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'">Ejecutante</div>
      <button mat-button >Detalles</button>
    </div>
    <img  src="/assets/fotos_de_salon apagado.jpg"><img>
  </div>
  <div class="career-container" (click)="onCoreografoDetalles()">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'" >Coreógrafo y Docente</div>
      <button mat-button >Detalles</button>
    </div>
    <img src="/assets/juniorOriental.jpg"><img>
  </div>


  <div class="career-container">
    <div class="title-container">
      <div [class]="(isHandset$ | async) ? 'career-title-small' : 'career-title'">Comunidad</div>
    </div>
    <img src="/assets/diplomados.jpg"><img>
  </div>

<div class="footer">
  <span class="spacer"></span>
  <span class="phone"><h2>Tel: 81 17068503</h2></span>
  <span class="spacer"></span>
  <button class="footer-icon" mat-icon-button matSuffix (click)="onEmail()">
    <mat-icon>mail</mat-icon> 
  </button>  
  <button class="footer-icon" mat-icon-button matSuffix (click)="onFacebook()">
    <mat-icon>facebook</mat-icon> 
  </button>
  <button class="footer-icon" mat-icon-button matSuffix (click)="onInstagram()">
    <mat-icon>photo_camera</mat-icon> 
  </button>  
</div>

<ng-template #elseBlock>
  Cargando información.
  <mat-spinner></mat-spinner>
</ng-template>