.action-card{
    max-width: 100%;
    margin: 10px;
}

.enrolled-materia-card{
    max-width:300px;
    margin:10px;
}

.mat-card-sm-image{
    border: 1px;
    border-style: solid;
    border-color: black;
}

.chains mat-card {
    display: inline-block;
  }

.materia-card{
    width: 80%;
    margin: 10px;
}

.mat-grid-list *{
    margin-top: 0px;
    padding: 0px;
    border:1px;
    border-style: solid;
    border-color:red;
}