.main{
    text-align: center;
}

.ejecutante{
    position:relative;
}
.ejecutante-title{
    position:absolute;
    color:white;
    left:30%;
    top:50%;
    text-align: center;
}
.diplomados{
    position:relative;
}
.diplomados-title{
    position:absolute;
    color:white;
    left:30%;
    top:50%;
    text-align: center;
}
.comunidad{
    position:relative;
}
.comunidad-title{
    position:absolute;
    color:white;
    left:30%;
    top:50%;
    text-align: center;
}
.footer{
    display:flex;
}
.spacer{
    flex:1 1 0;
}
.phone{
    justify-self: center;
}
.footer-icon{
    justify-self:right;
}
