.action-card{
    max-width: 100%;
    margin: 10px;
}

.enrolled-materia-card{
    max-width:80%;
    margin:10px;
}

.mat-card-sm-image{
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    margin:20px;
}

.mat-grid-list *{
    margin-top: 10px;
    padding: 0px;
    border:0px;
    border-style: solid;
    border-color:red;

}

.exam-not-required-not-completed{
    color:lightgray;
    margin-left:15px;
}

.materia-image{
    height: 300px;
}

.action-item{
    margin-right:10px;
}