<h2>Avance de carrera</h2>
<div *ngIf="careerUser != null">
    <mat-toolbar>
        <mat-toolbar-row>    
            <span>{{ careerUser.career.career_name }}</span>
            <span class="example-spacer"></span>
            <span *ngIf="careerUser.careerAdvance">
                <!--
                <span *ngIf="careerUser.careerAdvance.total_materias_approved == careerUser.careerAdvance.total_materias_required">
                    <mat-icon>check</mat-icon>Completado
                </span>avance: 
                -->
                <span >
                    {{ careerUser.careerAdvance.career_materias_approved }} of {{ careerUser.careerAdvance.career_materias_required }} 
                    <mat-progress-bar  mode="determinate" [value]="(careerUser.careerAdvance.total_materias_approved / careerUser.careerAdvance.total_materias_required) * 100">
                    </mat-progress-bar>  
                </span>           
            </span>
            <span class="example-spacer"></span>
            <span>{{ user_displayName }}</span>
            
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card *ngFor="let l of careerUser.levels">
        <h2>{{ l.level.level_name }}</h2>
        <div *ngFor="let g of l.groups">
            <mat-toolbar>
            <mat-toolbar-row>
                <span>{{ g.group.group_name }}</span>
                <span class="example-spacer"></span> 
                <!--<span *ngIf="!g.groupGrade.group_completed">Completadas: {{g.groupGrade.group_materias_approved}} de {{g.groupGrade.group_materias_required}}</span>-->
                <span *ngIf="g.groupGrade && g.groupGrade.group_completed">Completado</span>
                <span class="example-spacer"></span>
                <span>{{ getGroupGradeDescription(g.group.group_grade_type_id) }}</span>
            </mat-toolbar-row> 
            </mat-toolbar>                       
           <mat-card *ngFor="let m of g.materias">
            <mat-toolbar-row>
                <span>
                    <h3> {{ m.materia.materia_name }} <mat-icon *ngIf="m.materiaEnrollment && m.materiaEnrollment.certificateUrl != null">check</mat-icon><mat-icon *ngIf="m.materiaEnrollment && m.materiaEnrollment.certificateUrl == null">push_pin</mat-icon></h3>
                </span>
                <span class="example-spacer"></span>
                <!--
                <span>
                <button mat-raised-button *ngIf=" !isAdmin && m.materia.isEnrollmentActive" mat-button color="primary" (click)="onMateriaDetalles(m.materia.id)">Enrolar</button>
                </span>
                -->
            </mat-toolbar-row>           
           </mat-card>
        </div>
    </mat-card>

</div>