<p>Leccion interactiva</p>
<div *ngIf="laboratoryGrade">
    <h1>{{laboratoryGrade.laboratory_name}}</h1> 
    <span *ngIf="laboratoryGrade.status == LaboratoryGradeStatus.initial">Por favor veo el video de instrucciones y envie un video cumpliendo con las instrucciones para su revision</span>
    <span *ngIf="laboratoryGrade.status == LaboratoryGradeStatus.requestGrade">El video ha sido enviado a revision</span>
    <span *ngIf="laboratoryGrade.status == LaboratoryGradeStatus.accepted ">El video ha sido aceptado</span>
    <span *ngIf="laboratoryGrade.status == LaboratoryGradeStatus.rework">
        Su video requiere ser retrabajado. por favor revise las observaciones, suba un nuevo video y solicite una nueva revision
    </span>

    <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Intrucciones</ng-template>
          <ng-template matStepContent>
            <div *ngIf="laboratory">
                <video *ngIf="laboratory.videoUrl" controls width="80%">
                    <source src="{{laboratory.videoUrl}}" type="video/mp4">
                </video>
            </div>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step *ngIf="(laboratoryGrade.status == LaboratoryGradeStatus.requestGrade && isAdmin ) || laboratoryGrade.status == LaboratoryGradeStatus.rework || laboratoryGrade.status == LaboratoryGradeStatus.accepted" label="Revisiones">
                <div >
                    <app-video-marks  *ngIf="laboratoryGrade.studentData && laboratoryGrade.studentData.videoUrl" source="{{laboratoryGrade.studentData.videoUrl}}" path="{{path}}" drawing_id="{{laboratoryGrade.id}}"></app-video-marks>
            
                    <div *ngIf="isAdmin">
                        <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="onReleased()">Liberar Revision</button>
                        <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="onRework()">Re-trabajar</button>
                    </div>
                </div>              
                <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </mat-step>        
          <mat-step *ngIf="laboratoryGrade.status == LaboratoryGradeStatus.initial || laboratoryGrade.status == LaboratoryGradeStatus.rework" label="Sube tu video">
              <div  class="studentData">
                <h1>Sube tu video</h1>
                <video *ngIf="laboratoryGrade.studentData && laboratoryGrade.studentData.videoUrl" controls width="100%">
                    <source src="{{laboratoryGrade.studentData.videoUrl}}" type='video/mp4'/>
                </video>     
                <app-file-loader [basepath]="getBasePath()" [fullpath]="laboratoryGrade.studentData.videoPath" (onload)="fileLoaded($event)" (ondelete)="fileDeleted($event)"></app-file-loader>                  
                <button mat-raised-button color="primary" (click)="onCompleted()">Enviar a Revision</button>
              </div> 
          </mat-step>
      </mat-stepper>
</div>  