<p>Laboratorio</p>
<h1>Video de instrucciones</h1>
<div class="video-container">   
    <app-vjs-player *ngIf="laboratory && laboratory.videoUrl" source="{{laboratory.videoUrl}}"></app-vjs-player>             
</div>  
<h1 *ngIf="laboratoryGrade && laboratoryGrade.status == LaboratoryGradeStatus.rework">
    Su video requiere ser retrabajado. por favor revise las observaciones, suba un nuevo video y solicite una nueva revision
</h1>

<h1>Observaciones</h1>
<app-video-marks  *ngIf="laboratoryGrade && laboratoryGrade.studentData && laboratoryGrade.studentData.videoUrl" source="{{laboratoryGrade.studentData.videoUrl}}" path="{{path}}" drawing_id="{{laboratoryGrade.id}}"></app-video-marks>

<div *ngIf="isAdmin">
    <div *ngIf="laboratoryGrade && laboratoryGrade.status == LaboratoryGradeStatus.accepted ">El video ha sido aceptado</div>
    <div *ngIf="laboratoryGrade && laboratoryGrade.status == LaboratoryGradeStatus.rework ">El video ha sido enviado a retrabajo</div>
    <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="onReleased()">Liberar Revision</button>
    <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="onRework()">Re-trabajar</button>
</div>

<div class="studentData" *ngIf="!isAdmin && laboratoryGrade && laboratoryGrade.status != LaboratoryGradeStatus.accepted" >

    <h1>Sube tu video</h1>
    <app-file-loader [organizationId]="organizationId" [collectionPath]="collectionPath" docId="practiceData" property="video"></app-file-loader>

    <div *ngIf="laboratoryGrade && laboratoryGrade.status == LaboratoryGradeStatus.requestGrade">El video ha sido enviado a revision</div>
    <button mat-raised-button color="primary" (click)="onCompleted()">Enviar a Revision</button>
</div> 