<div class="container" *ngIf="source">
  
  <div class="video-container">
    <video #target class="video-js"></video> 
  </div>
 
  <canvas #blackboard class="blackboard" id="blackboard"></canvas>

</div>

<div>
  <button mat-raised-button (click)="playVideo()"><span *ngIf="isPlaying==false">Play</span><span *ngIf="isPlaying==true">Stop</span></button>

  <button mat-raised-button (click)="backward()">&lt;</button> 

  <mat-slider min="0" max="100" discrete  (valueChange)="onSlide($event)" [value]="percentage">
    <input matSliderThumb>
  </mat-slider>

  <button mat-raised-button (click)="forward()">&gt;</button> 

  {{ currentTime }} of {{ videoDuration }}
  <button (click)="onMute()">mute</button>  

  <mat-form-field appearance="fill">
    <mat-label>Speed</mat-label>
    <mat-select  matNativeControl (selectionChange)="onSpeedChange($event)">
      <mat-option value="1">1x</mat-option>
      <mat-option value="0.5">0.5x</mat-option>
      <mat-option value="0.1">0.1x</mat-option>
    </mat-select >
  </mat-form-field>

  <button *ngIf="isAdmin && isMarkerEdited==false" (click)="onStartEditMarker()">Marker</button> 



</div>


<div class="loop-controls" *ngIf="isMarkerEdited">
  <mat-slider min="0" step="1" max="10" showTickMarks (input)="onLoopLength($event)">
    <input matSliderThumb>
  </mat-slider>
  <button *ngIf="loopDuration>0" mat-raised-button (click)="stop()"><span *ngIf="isPlaying==true">stop loop</span><span *ngIf="isPlaying==false">play loop</span></button>
  {{ displayTime(startMarker) }} - {{ displayTime(startMarker + loopDuration) }}


  <button mat-raised-button (click)="onStartRecording()" *ngIf="isAdmin && isRecording==false">GRABAR</button>
  <button mat-raised-button (click)="onStopRecording()" *ngIf="isAdmin && isRecording==true">STOP</button>

  <button mat-raised-button (click)="onUndo()" *ngIf="isAdmin">Undo</button>

  <button mat-raised-button (click)="onSave()">Guardar</button>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>

</div>

<div id="commentStatus"></div> 



<mat-divider></mat-divider>
{{ isMarkerActive }} {{ startMarker }}
<div>
  <div *ngFor="let b of breakPoints" [ngClass]="isMarkerActive && startMarker==b.id ? 'selected-observation' : ''">
    <button mat-stroked-button (click)="playMarker(b, true)"><span >Observacion en: {{ b.id }}</span></button>
    <button mat-raised-button *ngIf="isAdmin" (click)="onDelete(b.id)">Delete</button>
  </div>
</div>
<mat-divider></mat-divider>




