<div class="title">
<span>Referencias</span><button  *ngIf="isAdmin"  mat-icon-button (click)="onCreateReference()"><mat-icon>library_add</mat-icon></button>
</div>


@for( r of references() ; track r){
  <div>
      <a href="{{ r.fileUrl }}">{{ r.label }}</a> 
      <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menuLevel" >
        <mat-icon>more_vert</mat-icon>
      </button>                                    
        <mat-menu #menuLevel="matMenu" >
          <button mat-menu-item color="primary" (click)="onReferenceEdit(r)" [disabled]="submitting">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>    
          <button mat-menu-item color="primary" (click)="onReferenceDelete(r)" [disabled]="submitting">
            <mat-icon>remove</mat-icon>
            <span>Borrar</span>
          </button>         
        </mat-menu> 
  </div>      
}
