<div class="bar">
    <div>Aplicación de examen</div>
    <div class="spacer"></div>
    <div *ngIf="examGrade" class="debug">id:{{ examGrade_id }}</div>
</div>  
<div *ngIf="examGrade">
    <div>Examen: {{ examGrade.title }}</div>
    <div>Estudiante: {{userDisplayName}}</div>
    <div>Expresión: {{ examGrade.expression }}</div>
    <parametergrade-apply *ngIf="collection" collection="{{collection}}/parameterGrades" parameterGrade_id="{{parameterGrade_id}}" (change)="onParameterGradeChange($event)"></parametergrade-apply>
</div>  

