.full-width-table {
  width: 100%;
}
.Careers{
  margin-left: 30px;
}
.Materias{
  margin-left: 30px;
}
.Career{
  margin-left: 120px;
}
.MateriaEnrollment{
  margin-left: 60px;
}
.Exam{
  margin-left: 150px;
}

.waiver-text{
  padding: 10px;
}