Certificados
<mat-toolbar>
  
</mat-toolbar>  
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="student_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estudiante</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass" *ngIf="row.nodeClass=='User'">
          <button  mat-button  (click)="onStudentClick(row)">
            <span *ngIf="row.opened">-&nbsp;</span> <span *ngIf="!row.opened">&gt;&nbsp;</span> 
          </button>
          {{row.user.claims.displayName || row.user.displayName || row.user.email}}
        </div>
        <div [class]="row.nodeClass" *ngIf="row.nodeClass=='MateriaEnrollment'">
          <button  mat-button  (click)="onMateriaClick(row)">
            <span *ngIf="row.opened">-&nbsp;</span> <span *ngIf="!row.opened">&gt;&nbsp;</span> 
          </button>
          {{ row.materia.materia_name }}
        </div>    
        <div [class]="row.nodeClass" *ngIf="row.nodeClass=='Exam'">
          {{row.exam.label }}
        </div>           
      </td>
    </ng-container>
    <ng-container matColumnDef="approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprovado</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.nodeClass=='User'">
          {{row.user.id}}
        </div>
        <div *ngIf="row.nodeClass=='MateriaEnrollment'">          
          <button *ngIf="row.materiaEnrollment.certificate_url" [cdkCopyToClipboard]="row.materiaEnrollment.certificate_url" (click)="onCopyToClipboard()">certificado</button>
        </div>    
        <div *ngIf="row.nodeClass=='Exam'">
          {{ row.examGrade && row.examGrade.isReleased ? 'completado' : 'faltante' }}
        </div>           
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="certificate_url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Certificate</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
          <button *ngIf="row.nodeClass=='User'" mat-menu-item (click)="onMateriaEnroll(row)" [disabled]="submitting">
            <mat-icon>library_add</mat-icon>
            <span>Enrolar en Materia</span>
          </button> 
          <button *ngIf="row.nodeClass=='Exam'" mat-menu-item (click)="onExamWaiver(row)" [disabled]="submitting">
            <mat-icon>check_circle_outline</mat-icon>
            <span>Acreditar</span>
          </button>           
        </mat-menu>           

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
