.header{
    display:block;
}
.header span{
    display:block;
}
.aspecto{
    font-size:18px;
    margin-top:5px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.question{
    font-size:1.5em;
    margin-bottom: 1em;
}

.criteria{
    font-weight: bold;
}

.padded{
    margin-left:2em;
    margin-top:1em;
}

.error-message{
    color:red;
}

