
<div class="header">
<span>estudiante: {{estudianteNombre}}</span>
<span>Maestra: {{maestraNombre}}</span>
<span>Materia: {{materia}}</span>
<span class="description" (click)="showText(parametro_descripcion)">Parametro:{{parametro}}</span>
<span>tipo:{{tipo}}</span>
</div>

<div *ngIf="useColapsed()">
    <mat-accordion>
        <mat-expansion-panel [formGroup]="c" *ngFor="let c of getFormGroupArray(exam_impro_ap_parameter,'exam_impro_ap_criteria'); let i=index" [expanded]="i==0" >
            <mat-expansion-panel-header> 
                <mat-panel-title > 
                    <mat-toolbar>
                        <span class="example-spacer"></span>
                        <span class="criteria">{{ c.controls.label.value }}</span>
                        <span class="example-spacer"></span>
                    </mat-toolbar>
                </mat-panel-title>
            </mat-expansion-panel-header> 
            <mat-panel-description>
                {{ c.controls.description.value }}
            </mat-panel-description> 
            <mat-panel-content>
                <div [formGroup]="q" *ngFor="let q of getFormGroupArray(c,'exam_impro_ap_question'); let j=index">
                    <div *ngIf="q.controls.itemized.value" >
                        <div (click)="showText(q.controls.description.value)" class="question">{{ q.controls.label.value }} <mat-icon *ngIf="q.controls.graded.value < 1">close</mat-icon></div>
                        <div *ngIf="q.controls.itemized.value">
                            <div [formGroup]="o" *ngFor="let o of getFormGroupArray(q,'exam_impro_ap_observation'); let oi=index">
                                <span class="description" (click)="showText(o.controls.description.value)">{{ o.controls.label.value }}</span><mat-checkbox formControlName="complied" (change)="onChangeObservation(q, o)"></mat-checkbox>
                            </div> 
                            
                            <mat-form-field appearance="legacy">
                                <mat-label>Otro</mat-label>
                                <input matInput placeholder="Escriba lo que debe ocurrir" maxlength="200" formControlName="comment" (change)="onChangeQuestion(q)">
                            </mat-form-field>                    
                        </div>              
                    </div>
                    <div class="padded" *ngIf="!q.controls.itemized.value">
                        <div class="question" (click)="showText(q.controls.description.value)">{{ q.controls.label.value }} </div>
                        <app-star-slider formControlName="graded" (click)="onChangeQuestion(q)"></app-star-slider>
                    </div>
                </div> 
            </mat-panel-content> 
        </mat-expansion-panel>

    </mat-accordion>
</div>
<div *ngIf="!useColapsed()">
    <div [formGroup]="c" *ngFor="let c of getFormGroupArray(exam_impro_ap_parameter,'exam_impro_ap_criteria'); let i=index" >
        <mat-toolbar>
            <span class="example-spacer"></span>
            <span class="criteria" (click)="showText(c.controls.description.value)">{{ c.controls.label.value }}</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <div [formGroup]="q" *ngFor="let q of getFormGroupArray(c,'exam_impro_ap_question'); let j=index">
            <div *ngIf="q.controls.itemized.value" >
                <div (click)="showText(q.controls.description.value)" class="question">{{ q.controls.label.value }}<mat-icon *ngIf="q.controls.graded.value < 1">close</mat-icon></div>
                <div *ngIf="q.controls.itemized.value">
                    <div [formGroup]="o" *ngFor="let o of getFormGroupArray(q,'exam_impro_ap_observation'); let oi=index">
                        <span class="description" (click)="showText(o.controls.description.value)">{{ o.controls.label.value }}</span><mat-checkbox formControlName="complied" (change)="onChangeObservation(q, o)"></mat-checkbox>
                    </div> 
                    
                    <mat-form-field appearance="legacy">
                        <mat-label>Otro</mat-label>
                        <input matInput placeholder="Escriba lo que debe ocurrir" maxlength="200" formControlName="comment" (change)="onChangeQuestion(q)">
                    </mat-form-field>                    
                </div>              
            </div>
            <div class="padded" *ngIf="!q.controls.itemized.value">
                <div class="question" (click)="showText(q.controls.description.value)">{{ q.controls.label.value }} </div>
                <app-star-slider formControlName="graded" (click)="onChangeQuestion(q)"></app-star-slider>
            </div>
        </div> 
    </div>
</div>
<button mat-raised-button color="primary" (click)="submit()" [disabled]="submitting">Enviar</button> 


