<div *ngIf="examGrade" [formGroup]="examGrade">
    <div>Applicación de examen</div>
    <div>id: {{ examGrade.controls.id.value }}</div>
    <div>estudiante: {{ examGrade.controls.student_name.value  }}</div>
    <div>Habilidad: {{  examGrade.controls.materia_name.value }}</div>
    <mat-form-field appearance="standard" (change)="updateHeader($event)">
        <mat-label>Titulo</mat-label>
        <input matInput type="text"  formControlName="title">
    </mat-form-field>   

    <div *ngIf="examGrade.controls.expression.value">Expresion: {{examGrade.controls.expression.value}}</div>
    <div>Fecha de Applicación: {{examGrade.controls.applicationDate.value}}</div> 

    <div [formGroup]="p" *ngFor="let p of getFormGroupArray(examGrade,'parameterGrades'); let i=index" >
        <div>Maestra: {{p.controls.evaluator_name.value}}</div>
        <div>Parametro:{{p.controls.label.value}}</div>
        <div>Descripcion:{{p.controls.description.value}}</div>
        <span *ngIf="p.controls.completed.value == true" > <b>score: {{p.controls.score.value.value}} </b></span>


        <div [formGroup]="c" *ngFor="let c of getFormGroupArray(p,'criteriaGrades'); let j=index" >
            <div *ngIf="c.controls.isSelected.value == true">
                <mat-toolbar>
                    <span class="example-spacer"></span>
                    <span class="criteria" (click)="showText(c.controls.description.value)">{{ c.controls.label.value }}</span>
                    <span class="example-spacer"></span>
                </mat-toolbar>
                <div [formGroup]="a" *ngFor="let a of getFormGroupArray(c,'aspectGrades'); let k=index">
                    
                    <div *ngIf="p.controls.scoreType.value == 'starts'">
                        <div class="question" (click)="showText(a.controls.description.value)">{{ a.controls.label.value }} </div>
                        <app-star-slider [enabled]="!isDisabled" formControlName="score" (valueChange)="onChangeStarts(examGrade,p,c,a)"></app-star-slider>
                    </div>
                    <div  *ngIf="p.controls.scoreType.value != 'starts'" class="padded" >
                        <div class="question" (click)="showText(a.controls.description.value)">{{ a.controls.label.value }} </div>

                        <div>
                        
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="score" (change)="onChangeAspect(examGrade,p,c,a)">
                            <mat-button-toggle class="cancelation" value="0" aria-label="no se puede calificar">
                            <mat-icon>not_interested</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="0.6" aria-label="Text align left">
                            <mat-icon color="warn">report_problem</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="0.72"  aria-label="insuficiente">
                            <mat-icon>build</mat-icon>
                                              
                            </mat-button-toggle>
                            <mat-button-toggle value="0.86"  aria-label="casi bien">
                            <mat-icon color="accent">thumb_up</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle value="1"  aria-label="muy bien">
                            <mat-icon color="primary">verified</mat-icon>
                            </mat-button-toggle>

                        </mat-button-toggle-group>
                        </div>

                        
                        <mat-form-field  appearance="legacy" >
                            <mat-label>Faltante</mat-label>
                            <textarea  matInput maxlength="700" rows="3" placeholder="Elementos faltantes"  formControlName="missingElements" (change)="onChangeAspect(examGrade,p,c,a)">
                            </textarea>
                        </mat-form-field> 

                    </div>
                </div> 
            </div>
        </div>
        <div class="comment" *ngIf="p.controls.completed.value == true" >score: {{p.controls.evaluator_comment.value}} </div>

        <button mat-raised-button *ngIf="!isDisabled" color="primary" (click)="submit()" [disabled]="submitting">Enviar</button> 
    </div>

</div>

