Calificaciones
<mat-toolbar>

  <button *ngIf="isAdmin()" mat-button color="primary" (click)="onCreate()" >Crear</button>
  
  <button mat-button value="refresh" (click)="applicationFilterChange(null)"><mat-icon>refresh</mat-icon></button>
  <mat-slide-toggle class="filter_element"  [(ngModel)]="periodicRefresh" (change)="periodicRefreshChange()" aria-label="refresh group">auto</mat-slide-toggle>
  

  <mat-form-field appearance="fill">
    <mat-label>date: </mat-label>
    <input matInput [matDatepicker]="picker" [(value)]="applicationDate"  (dateChange)="applicationFilterChange($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-slide-toggle class="filter_element"  [(ngModel)]="released" (change)="applicationFilterChange($event)" aria-label="examenes released solamente">Mostrar Liberados</mat-slide-toggle>
  <mat-slide-toggle class="filter_element"  [(ngModel)]="showDeleted" (change)="applicationFilterChange($event)" aria-label="mostrar los borrados">Mostrar Borrados</mat-slide-toggle>

</mat-toolbar>

<div class="mat-elevation-z8">
  <div *ngIf="submmiting == false; else elseBlock"></div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [hidden]="submmiting">
    <!-- Id Column -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'examGrade'">{{ row.obj.title }}</div>
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'parameterGrade'">{{ row.obj.label }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>score</th>
      <td mat-cell *matCellDef="let row">{{ row.obj.score }}</td>
    </ng-container>    

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Completed</th>
      <td mat-cell *matCellDef="let row">
        <ng-template [ngIf]="row.obj.isCompleted" [ngIfElse]="notCompleted"><p>Completado</p></ng-template>
        <ng-template #notCompleted><p>No completado</p></ng-template>
      </td>
    </ng-container>    
 
    <!-- Name Column -->
    <ng-container matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Release</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.nodeClass == 'examGrade'">
          <button *ngIf="row.obj.isCompleted && !row.obj.isReleased" mat-raised-button color="primary" (click)="updateRelease(row, true)">Liberar Calificacion</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="unrelease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UnRelease</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.nodeClass == 'examGrade'">
          <button *ngIf="row.obj.isReleased == true" mat-raised-button color="primary" (click)="updateRelease(row, false)">no liberar</button>
        </div>
        <div *ngIf="row.nodeClass == 'parameterGrade'">
          <button mat-raised-button color="primary" (click)="onEditParameterGrade(row.obj.examGrade_id, row.obj.parameterGrade_id)" >Edit</button> 
        </div>  
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Borrar</th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.nodeClass == 'examGrade'" mat-raised-button color="primary" (click)="onDelete(row.obj.title, row.obj.id)">Borrar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
<ng-template #elseBlock>
  Cargando Calificaciones.
  <mat-spinner></mat-spinner>
</ng-template>
