Calificaciones
  <form [formGroup]="filterForm">
    <span class="bar">
      <button *ngIf="isAdmin()" mat-raised-button color="primary" (click)="onCreate()" >Crear</button>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>date: </mat-label>
        <input matInput [matDatepicker]="picker" [(value)]="applicationDate"  (dateChange)="applicationFilterChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-icon matSuffix (click)="onClearDate()">cancel</mat-icon>
      </mat-form-field>
      <span class="spacer"></span>
      
      <mat-form-field appearance="fill" >
        <!--<mat-label>selecciona estudiante</mat-label>-->
        <app-user-selector formControlName="studentUid" (userselected)="examStudentChange($event)"></app-user-selector>
        <mat-icon matSuffix (click)="onClearName()">cancel</mat-icon>
      </mat-form-field> 
      
      <span class="spacer"></span>
  </span>
  </form>
 
  <!--
  <mat-slide-toggle class="filter_element"  [(ngModel)]="released" (change)="applicationFilterChange($event)" aria-label="examenes released solamente">Mostrar Liberados</mat-slide-toggle>
  <mat-slide-toggle class="filter_element"  [(ngModel)]="showDeleted" (change)="applicationFilterChange($event)" aria-label="mostrar los borrados">Mostrar Borrados</mat-slide-toggle>
-->


@if( true ){

  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="applicationDate">
      <th mat-header-cell *matHeaderCellDef >Fecha</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'examGrade'">{{ dateFormatService.formatDate(row.obj.applicationDate) }}</div>
      </td>
    </ng-container>    
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef >Titulo</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'examGrade'">
          <div>{{row.obj.materia_name}}</div>
          <div>{{row.obj.title }}</div>
        </div>
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'parameterGrade'">{{ row.obj.label }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="alumna">
      <th mat-header-cell *matHeaderCellDef >Estudiante</th>
      <td mat-cell *matCellDef="let row">
        <div [class]="row.nodeClass" *ngIf="row.nodeClass == 'examGrade'">
          <ul>
          @for(s of row.obj.students; track s){
            <li>{{s.displayName?s.displayName:s.email }}</li>
          }
          </ul>
        </div>
      </td>
    </ng-container>    
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef >score</th>
      <td mat-cell *matCellDef="let row">{{ row.obj.isCompleted?row.obj.score:"N/A" }}</td>
    </ng-container>    

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef >Completado</th>
      <td mat-cell *matCellDef="let row">
        <ng-template [ngIf]="row.obj.isCompleted" [ngIfElse]="notCompleted"><p>Completado</p></ng-template>
        <ng-template #notCompleted>
          <p>No completado</p>
        </ng-template>
      </td>
    </ng-container>    
 
    <!-- Name Column -->
    <ng-container matColumnDef="release">
      <th mat-header-cell *matHeaderCellDef >Release</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.nodeClass == 'examGrade'">
          <mat-slide-toggle [checked]='row.obj["isReleased"]' (change)="updateRelease(row, !row.obj['isReleased'])">Publicar</mat-slide-toggle>                
        </div>
        @if( row.nodeClass == 'parameterGrade' ){
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
          </button>                                    
          <mat-menu #menu="matMenu" >
            <button *ngIf="isAdmin()" mat-menu-item color="primary" (click)="onEditParameterGrade(row.obj.examGrade_id, row.obj.parameterGrade_id)" [disabled]="submitting()">
              <mat-icon>file_open</mat-icon>
              <span>abrir</span>
            </button> 
            <button *ngIf="isAdmin()" mat-menu-item color="primary" (click)="onReset(row.obj.examGrade_id, row.obj.parameterGrade_id, row.obj.label)" [disabled]="submitting()">
              <mat-icon>change_circle</mat-icon> 
              <span>Reiniciar</span>
            </button> 
            <button *ngIf="isAdmin()" mat-menu-item color="primary" (click)="onRemoveParameterGrade(row.obj.examGrade_id, row.obj.parameterGrade_id, row.obj.label)" [disabled]="submitting()">
              <mat-icon>delete</mat-icon>
              <span>borrar</span>
            </button>                         
          </mat-menu>         
        } 

      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef >Borrar</th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.nodeClass == 'examGrade'" mat-raised-button color="primary" (click)="onDelete(row.obj.title, row.obj.id)">Borrar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator #paginator
      [length]="dataSource()?.getSize()"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>

}
@else{
  Cargando Calificaciones. 
  <mat-spinner></mat-spinner>
}
